@import "basic";
@import "mixins";

.container-footer {
  margin: 0 auto;
  width: 100%;
  max-width: $desktop;
}

//====!!==FOOTER==!!====//
.footer {
  width: 100%;
  background-color: $bg-dark-blue;

  &__top {
    @include flex-block-justify();
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  &__bottom {
    @include flex-block-justify();
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;
  }
}
nav {
  width: 100%;
  max-width: 42.6rem;
}
.logos {
  @include flex-block-justify();
  width: 100%;
  max-width: 41.4rem;
}

.menu_little {
  width: 100%;
  max-width: 42.6rem;
}

.menu__link_color {
  color: $text-white;
}

.copyrights {
  @include flex-block-justify();
  width: 100%;
  max-width: 44.8rem;
  @include text-18-27-400();
  color: $text-white;
}

.social_more {
  width: 100%;
  max-width: 20rem;
}

//btn-donate-for-volunteers
.btn-transparent {
  width: 35.9rem;
  height: 7.4rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-family: $fontsMont-600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  &_link {
    @include flex-block-center();
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
}

.btn-donate-vor-vol {
  border: 1px solid $bg-white;
  padding-right: 3.6rem;
}

////////////////1200////////////////////////
@media screen and (max-width: 1200px) {

  .container-footer {
    margin: 0 auto;
    width: 100%;
    max-width: $tablet-landscape;
  }

  .logos {
    @include flex-block-justify();
    margin-left: 4rem;
    width: 100%;
    max-width: 34.4rem;
  }

  nav {
    width: 100%;
    max-width: 34.7rem;
  }

  .btn-transparent {
    margin-right: 3.9rem;
  }

  .copyrights {
    @include flex-block-justify();
    margin-left: 4rem;
    width: 100%;
    max-width: 44.8rem;
    @include text-18-27-400();
    color: $text-white;
  }

  .social_more {
    width: 100%;
    max-width: 20rem;
    margin-right: 3.9rem;
  }

}

////////////////640////////////////////////
@media screen and (max-width: 640px) {

  .container-footer {
    margin: 0 auto;
    width: 100%;
    max-width: $tablet-mini;
  }

  .footer {
    width: 100%;
    height: 54.5rem;
    background-color: $bg-dark-blue;

    &__top {
      display: flex;
      flex-direction: column;
      width: 44.5rem;
      margin: 0 auto;
      padding-top: 5rem;
      padding-bottom: 4.9rem;
    }

    &__bottom {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      height: 18.7rem;
      padding-top: 5rem;
      padding-bottom: 3.8rem;
    }
  }
  nav {
    width: 100%;
    max-width: 44.5rem;
  }
  .logos {
    @include flex-block-justify();
    margin-left: 0;
    width: 100%;
    max-width: 44.5rem;
  }
  .menu {
    margin-top: 5.2rem;
    margin-bottom: 4.5rem;
    height: 2.3rem;
  }

  .menu_little {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 44.5rem;
  }

  .menu__link_color {
    color: $text-white;
  }

  .copyrights {
    @include flex-block-justify();
    width: 100%;
    max-width: 44.5rem;
    margin-left: 0rem;
    @include text-18-27-400();
    color: $text-white;
  }

  .social {
    @include flex-block-justify();
    width: 100%;
    max-width: 22rem;
    margin-right: 0;

    &__item {
      width: 4rem;
      height: 4rem;
    }

    &__link {
      display: block;
      width: 100%;
      height: 100%;
        &:hover {
          filter: opacity(.5);
        }
    }
  }

  //btn-donate-for-volunteers
  .btn-transparent {
    width: 35.9rem;
    height: 7.4rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-right: 0.5rem;
    &_link {
      @include flex-block-center();
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
  }

  .btn-donate-vor-vol {
    border: 1px solid $bg-white;
    padding-right: 3.6rem;
  }

}

////////////////320////////////////////////
@media screen and (max-width: 320px) {

  .container-footer {
    margin: 0 auto;
    width: 100%;
    max-width: $mobile;
    hr {
    position: absolute;
    top: 48.8rem;
    left: 0;
    width: 32rem;
    }
  }

  .footer {
    position: relative;
    width: 100%;
    height: 71rem;
    background-color: $bg-dark-blue;

    &__top {
      display: flex;
      flex-direction: column;
      width: 30rem;
      margin: 0 auto;
      padding-top: 5rem;
      padding-bottom: 3rem;
    }

    &__bottom {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      height: 24.3rem;
      padding-top: 0rem;
      padding-bottom: 0;
    }
  }

  nav {
    width: 100%;
    max-width: 44.5rem;
  }
  .logos {
    @include flex-block-justify();
    flex-direction: column;
    margin-left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 21rem;
    height: 21rem;
  }
  .menu {
    margin-top: 3rem;
    margin-bottom: 2.9rem;
    height: 2.3rem;
  }

  .menu_little {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 44.5rem;
  }

  .menu__link_color {
    color: $text-white;
    font-size: 1.6rem;
  }

  .copyrights {
    @include flex-block-justify();
    flex-direction: column;
    width: 100%;
    max-width: 12.5rem;
    height: 14.1rem;
    margin-left: 0rem;
    @include text-18-27-400();
    color: $text-white;
  }

  .social {
    @include flex-block-justify();
    width: 100%;
    max-width: 22rem;
    margin-right: 0;

    &__item {
      width: 4rem;
      height: 4rem;
    }

    &__link {
      display: block;
      width: 100%;
      height: 100%;
        &:hover {
          filter: opacity(.5);
        }
    }
  }

  //btn-donate-for-volunteers
  .btn-transparent {
    width: 30rem;
    height: 4.5rem;
    border-radius: 0.5rem;
    text-transform: none;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-right: 0.5rem;
    padding-right: 0px;
    padding-top: 10px;
    padding-left: 34px;
    &_link {
      @include flex-block-center();
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: inline-block;
        &:first-letter {
          text-transform: uppercase;
        }
    }
  }

  .btn-donate-vor-vol {
    border: 1px solid $bg-white;
    padding-right: 2.8rem;
  }

}