@import "basic";
@import "mixins";
@import 'variables';

//====containers====//
.container-header {
  margin: 0 auto;
  width: 100%;
  max-width: $desktop;
}

//====!!==HEADER==!!====//
.main_heading {
  display: inline;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 0.1rem;
  visibility: hidden;
}

.header {
  width: 100%;
  background-color: $bg-orange;
}

.links {
  @include flex-block-justify();
  padding-top: 3rem;
  padding-bottom: 2.8rem;
}

.logo {
  &__img {
    width: 9.6rem;
    height: auto;
  }
}

//==menu==//
.nav-header {
  @include flex-block-justify();
  width: 100%;
  max-width: 80rem;
}

.menu-header {
  @include flex-block-justify();
  width: 100%;
  max-width: 55.3rem;

  &__item {
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: uppercase;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $text-default;
      &:hover {
        filter: opacity(.5);
      }
      &:active {
        filter: opacity(.5);
        color: $text-green-lite;
      }

    &_active {
      color: $text-green-lite;
        &:hover {
          cursor: default;
          filter: none;
        }
    }
  }
}

//==social==//
.social {
  @include flex-block-justify();
  width: 100%;
  max-width: 18rem;

  &__item {
    width: 4rem;
    height: 4rem;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
      &:hover {
        filter: opacity(.5);
      }
  }
}

.icon_yt {
  background-image: url("../icons/YouTube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon_inst {
  background-image: url("../icons/Instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon_fb {
  background-image: url("../icons/Facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}
////////////////1400////////////////////////
@media screen and (max-width: 1400px) {
  .container-header {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .logo {
      margin-right: 2rem;
    &__img {
      width: 9.6rem;
      height: auto;
    }
  }

 .links {
    @include flex-block-justify();
    padding-top: 3rem;
    padding-bottom: 2.8rem;
  }

  //==menu==//
  .nav-header {
    @include flex-block-justify();
    width: 100%;
    max-width: 74.1rem;
  }

  .menu-header {
    @include flex-block-justify();
    flex-wrap: wrap;
    width: 100%;
    max-width: 48.1rem;
  }
}
////////////////1200////////////////////////
@media screen and (max-width: 1200px) {
  .container-header {
    margin: 0 auto;
    width: 100%;
    max-width: $tablet-landscape;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .logo {
      margin-right: 2rem;
    &__img {
      width: 9.6rem;
      height: auto;
    }
  }
  //==social==//
  @media (max-width: 984px) {
    .social.social_header {
      display: none;
    }
  }

 .links {
    @include flex-block-justify();
    padding-top: 3rem;
    padding-bottom: 2.8rem;
  }

  //==menu==//
  .nav-header {
    @include flex-block-justify();
    width: 100%;
    max-width: 74.1rem;

    @media (max-width: 984px) {
      max-width: 48.1rem;
    }

  }

  .menu-header {
    @include flex-block-justify();
    flex-wrap: wrap;
    width: 100%;
    max-width: 48.1rem;
  }


}
////////////////780////////////////////////
@media screen and (max-width: 780px) {
  .container-header {
    margin: 0 auto;
    width: 100%;
    max-width: $tablet-landscape;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .logo {
      margin-right: 2rem;
    &__img {
      width: 9.6rem;
      height: auto;
    }
  }

 .links {
    @include flex-block-justify();
    padding-top: 3rem;
    padding-bottom: 2.8rem;
  }

  //==menu==//
  .nav-header {
    @include flex-block-justify();
    width: 100%;
    max-width: 74.1rem;
  }

  .menu-header {
    @include flex-block-justify();
    flex-wrap: wrap;
    width: 100%;
    max-width: 48.1rem;
  }


}
////////////////640////////////////////////
@media screen and (max-width: 740px) {

  //====!!==HEADER==!!====//
  .main_heading {
    display: inline;
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 0.1rem;
    visibility: hidden;
  }

  .header {
    position: fixed;
    width: 100%;
    height: 11rem;
    top: 0;
    left: 0;
    right: 0;
    max-width: 740px;
    z-index: 3000;
    background-color: $bg-orange;
  }

  //====containers====//
  .container-header {
    margin: 0 auto;
    margin-left: 2rem;
    padding: 0;
    width: 100%;
    max-width: 57.3rem;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: start;
  }


  .links {
    @include flex-block-justify();
    width: 100%;
    max-width: 57.3rem;
    height: 5rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo {
    &__img {
      width: 9.6rem;
      height: 5rem;
    }
  }

  //==menu==//
  .nav-header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 311px;
    height: 754px;
    background-color: $bg-dark-blue;
    margin-right: 0;
    z-index: 300;
    transform: translateX(311px);
    transition: transform .3s ease-in;
    // display: none;
  }
  .nav-header-show {
    transform: translateX(0);
  }


  .menu-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 33.5rem;
    margin-top: 15rem;

  &__item {
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: uppercase;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $text-white;
      &:hover {
        filter: opacity(.5);
      }
      &:active {
        filter: opacity(.5);
        color: $text-green-lite;
      }

    &_active {
      color: $text-green-lite;
        &:hover {
          cursor: default;
          filter: none;
        }
    }
  }
  }

/////////////burger/////////////
  .burger-header {
    position: fixed;
    top: 4rem;
    right: 4.7rem;
    z-index: 3000;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      filter:opacity(.4);
    }
  }
  .burger-header__lines,
  .burger-header__lines::after,
  .burger-header__lines::before {
    position: absolute;
    width: 3rem;
    height: 2.31px;
    background-color: #000000;
  }
  .burger-header__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-header__lines::before {
    content: '';
    top: -14px;
  }
  .burger-header__lines::after {
    content: '';
    top: 14px;
  }
  .burger-header-active .burger-header__lines {
    background-color: transparent;
  }
  .burger-header-active .burger-header__lines::before {
    top: 0;
    left: -70%;
    transform: rotate(45deg);
    background-color: white;
    width: 4rem;
  }
  .burger-header-active .burger-header__lines::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: white;
    width: 4rem;
    left: -70%;
  }

  //==social==//
  .social.social_header {
    display: none;
  }


}
////////////////480////////////////////////
@media screen and (max-width: 480px) {
  //====!!==HEADER==!!====//
  .main_heading {
    display: inline;
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 0.1rem;
    visibility: hidden;
  }

  .header {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 11rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;
    background-color: $bg-orange;
  }

  //====containers====//
  .container-header {
    margin: 0 auto;
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 3.6rem;
    width: 100%;
    max-width: 480px;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: start;
  }


  .links {
    @include flex-block-justify();
    width: 100%;
    max-width: 57.3rem;
    height: 5rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo {
    &__img {
      width: 9.6rem;
      height: 5rem;
    }
  }

  //==menu==//
  .nav-header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 233px;
    height: 754px;
    background-color: $bg-dark-blue;
    margin-right: 0;
    z-index: 300;
    transform: translateX(233px);
    transition: transform .3s ease-in;
  }
  .nav-header-show {
    transform: translateX(0);
  }

  .menu-header {
    display: flex;
    flex-direction: column;
    height: 29.5rem;
    margin-top: 13rem;

  &__item {
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: uppercase;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $text-white;
      &:hover {
        filter: opacity(.5);
      }
      &:active {
        filter: opacity(.5);
        color: $text-green-lite;
      }

    &_active {
      color: $text-green-lite;
        &:hover {
          cursor: default;
          filter: none;
        }
    }
  }
}

/////////////burger/////////////
  .burger-header {
    position: fixed;
    top: 4rem;
    right: 3.8rem;
    z-index: 3000;
    cursor: pointer;
    width: 2.2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      filter:opacity(.4);
    }
  }
  .burger-header__lines,
  .burger-header__lines::after,
  .burger-header__lines::before {
    position: absolute;
    width: 2.2rem;
    height: 2.31px;
    background-color: #000000;
  }
  .burger-header__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-header__lines::before {
    content: '';
    top: -14px;
  }
  .burger-header__lines::after {
    content: '';
    top: 14px;
  }
  .burger-header-active .burger-header__lines {
    background-color: transparent;
  }
  .burger-header-active .burger-header__lines::before {
    top: 0;
    left: -45%;
    transform: rotate(45deg);
    background-color: white;
    width: 4rem;
  }
  .burger-header-active .burger-header__lines::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: white;
    width: 4rem;
    left: -45%;
  }

  //==social==//
  .social {
    display: none;
  }
}
////////////////320////////////////////////
@media screen and (max-width: 320px) {
  //====!!==HEADER==!!====//
  .main_heading {
    display: inline;
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 0.1rem;
    visibility: hidden;
  }

  .header {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 11rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;
    background-color: $bg-orange;
  }

  //====containers====//
  .container-header {
    margin: 0 auto;
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 3.6rem;
    width: 100%;
    max-width: $mobile;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: start;
  }


  .links {
    @include flex-block-justify();
    width: 100%;
    max-width: 57.3rem;
    height: 5rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo {
    &__img {
      width: 9.6rem;
      height: 5rem;
    }
  }

  //==menu==//
  .nav-header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 233px;
    height: 754px;
    background-color: $bg-dark-blue;
    margin-right: 0;
    z-index: 300;
    transform: translateX(233px);
    transition: transform .3s ease-in;
  }
  .nav-header-show {
    transform: translateX(0);
  }

  .menu-header {
    display: flex;
    flex-direction: column;
    height: 29.5rem;
    margin-top: 13rem;

  &__item {
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: uppercase;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $text-white;
      &:hover {
        filter: opacity(.5);
      }
      &:active {
        filter: opacity(.5);
        color: $text-green-lite;
      }

    &_active {
      color: $text-green-lite;
        &:hover {
          cursor: default;
          filter: none;
        }
    }
  }
}

/////////////burger/////////////
  .burger-header {
    position: fixed;
    top: 4rem;
    right: 3.8rem;
    z-index: 3000;
    cursor: pointer;
    width: 2.2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      filter:opacity(.4);
    }
  }
  .burger-header__lines,
  .burger-header__lines::after,
  .burger-header__lines::before {
    position: absolute;
    width: 2.2rem;
    height: 2.31px;
    background-color: #000000;
  }
  .burger-header__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-header__lines::before {
    content: '';
    top: -14px;
  }
  .burger-header__lines::after {
    content: '';
    top: 14px;
  }
  .burger-header-active .burger-header__lines {
    background-color: transparent;
  }
  .burger-header-active .burger-header__lines::before {
    top: 0;
    left: -45%;
    transform: rotate(45deg);
    background-color: white;
    width: 4rem;
  }
  .burger-header-active .burger-header__lines::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: white;
    width: 4rem;
    left: -45%;
  }

  //==social==//
  .social {
    display: none;
  }
}