@import "basic";
@import "variables";

//====BLOCK-ALIGN====//

@mixin flex-block-justify() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-block-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//====TEXT====//
@mixin text-18-27-400 () {
  font-family: $fontsMont-400;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

@mixin text-54-66-600 () {
  font-family: $fontsMont-600;
  font-size: 5.4rem;
  line-height: 6.6rem;
}