/* COLORS */
@import 'basic';
$bg-header: #F58021;
$bg-white: #FFFFFF;
$text-default: #000000;
$text-alter: #20113D;
$nav-active: #00A092;

/* FONTS */
$nav-font: 'Montserrat Semibold';

/* DEVICE-WIDTH */
$desktop: 140rem;
// $tablet-landscape: 1024px;
// $tablet-vertical: 768px;
// $tablet-mini: 600px;
// $mobile: 375px;