/* COLORS */
@import 'basic';
$bg-header: #F58021;
$bg-donation: #20113D;
$bg-btn: #F58021;
$bg-text: #F58021;
$btn-alt: #20113D;
$bg-cards: #20113D;
$bg-btn-hover: #D26004;
$bg-white: #FFFFFF;
$text-white: #FFFFFF;
$text-default: #000000;
$text-alter: #20113D;
$nav-active: #00A092;
$main-header:#00A092;
$cards-icon:#00A092;
$color-green:#00A092;

/* FONTS */
$main-text-font: 'Montserrat Regular'; //400
$fontsMont-400: 'Montserrat Regular'; //400
$donation-header-font: 'Montserrat Medium'; //500
$fontsMont-500: 'Montserrat Medium'; //500
$nav-font: 'Montserrat Semibold'; //600
$fontsMont-600: 'Montserrat Semibold'; //600
$heading-font: 'Montserrat Semibold';
$main-header-font: 'Montserrat Bold';

$cards-font: 'Montserrat Alternates ExtraBold';

/* DEVICE-WIDTH */
$desktop: 140rem;
// $tablet-landscape: 1024px;
// $tablet-vertical: 768px;
// $tablet-mini: 600px;
// $mobile: 375px;