@import 'basic';
@import 'variables';
@import "mixins";


//====HEADER====//
@import "header";

//======main======//
.touch {
  width: 100%;
  &__countainer {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
    img {
      width: 100%;
    }
  }
}

.form {
  width: 100%;
  &__countainer {
    @include flex-block-justify();
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
    padding-top: 15rem;
    margin-bottom: 15rem;
  }

  &__info {
    width: 100%;
    max-width: 54.5rem;
    &_heading {
      font-family: $fontsMont-600;
      font-size: 5.4rem;
      line-height: 6.6rem;
      color: $text-green-lite;
      text-transform: uppercase;
    }
    &_text {
      margin-top: 5rem;
      font-family: $fontsMont-400;
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }

  &__forms {
    width: 100%;
    max-width: 68rem;
    &_body {
      margin: 0;
      padding: 0;
      label {
        display: block;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        height: 3.5rem;
        span {
          color: $text-green-lite;
        }
      }
      input {
        border: 1px solid $bg-default;
      }
      &_input {
        display: block;
        padding-left: 2rem;
        border-radius: 0.5rem;
        width: 100%;
        height: 6rem;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-bottom: 3.1rem;
        color: #969696;
      }
      textarea {
        display: block;
        padding-top: 2rem;
        padding-left: 2rem;
        border: 1px solid $bg-default;
        border-radius: 0.5rem;
        width: 100%;
        height: 20rem;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-bottom: 3rem;
        color: #969696;
      }
    }
    &_btns {
      margin-top: 7rem;
      input {
        border: none;
      }
    }
    &_btn {
      display: block;
      padding-right: 3.5rem;
      width: 100%;
      max-width: 35.9rem;
      height: 7.4rem;
      font-family: $fontsMont-600;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $text-white;
      background-color: $bg-green-lite;
      border-radius: 0.5rem;
      text-transform: uppercase;
      background-image: url('../icons/UnionRightInvert.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-position: 74% 50%;
      &:hover {
        background-color: $bg-green-dark;
      }
    }
  }
}

//====FOOTER====//
@import "footer";