@import 'basic';
@import 'variables';

@mixin flex-block-justify() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-block-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

//====!!==HEADER==!!====//
.main_heading {
  display: inline;
  width: 1px;
  height: 1px;
  font-size: 0.1rem;
  visibility: hidden;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 11rem;
  background-color: $bg-header;

    &__container {
      @include flex-block-justify();
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
    }
}

//==menu==//
.nav {
  @include flex-block-justify();
  width: 100%;
  max-width: 80rem;

    &__list {
      @include flex-block-justify();
      width: 100%;
      max-width: 55rem;
    }

    &__item {
      cursor: pointer;
      text-transform: uppercase;
      font-family: $nav-font;
      font-size: 1.8rem;
      line-height: 2.7rem;
    }

}

.nav__link {
  text-decoration: none;
  color: $text-default;

  &:hover {
    filter: opacity(0.5);
  }

  &:active {
    color: $nav-active;
    filter: opacity(0.5);
  }

  &_active {
    color:$nav-active;
    cursor: default;
    &:hover {
      filter: none;
      cursor: default;
    }
  }

}

//==social==//
.social {
  @include flex-block-justify();
  width: 18rem;
  list-style: none;

    &__item {
    display: block;
    width: 4rem;
    height: 4rem;
      &:hover {
      opacity: .6;
      }
    }
}

.icon_yt {
  background-image: url('../icons/YouTube.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon_inst {
  background-image: url('../icons/Instagram.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon_fb {
  background-image: url('../icons/Facebook.svg');
  background-repeat: no-repeat;
  background-position: center;
}

//======main======//
.touch {
  width: 100%;
  &__countainer {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
    img {
      width: 100%;
    }
  }
}

.form {
  width: 100%;
  &__countainer {
    @include flex-block-justify();
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
    padding-top: 15rem;
    margin-bottom: 15rem;
  }

  &__info {
    width: 100%;
    max-width: 54.5rem;
    &_heading {
      font-family: $fontsMont-600;
      font-size: 5.4rem;
      line-height: 6.6rem;
      color: $color-green;
      text-transform: uppercase;
    }
    &_text {
      margin-top: 5rem;
      font-family: $fontsMont-400;
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }

  &__forms {
    width: 100%;
    max-width: 68rem;
    &_body {
      margin: 0;
      padding: 0;
      label {
        display: block;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        height: 3.5rem;
        span {
          color: $color-green;
        }
      }
      input {
        border: 1px solid $text-default;
      }
      &_input {
        display: block;
        padding-left: 2rem;
        border-radius: 0.5rem;
        width: 100%;
        height: 6rem;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-bottom: 3.1rem;
        color: #969696;
      }
      textarea {
        display: block;
        padding-top: 2rem;
        padding-left: 2rem;
        border: 1px solid $text-default;
        border-radius: 0.5rem;
        width: 100%;
        height: 20rem;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-bottom: 3rem;
        color: #969696;
      }
    }
    &_btns {
      margin-top: 7rem;
      input {
        border: none;
      }
    }
    &_btn {
      display: block;
      padding-right: 3.5rem;
      width: 100%;
      max-width: 35.9rem;
      height: 7.4rem;
      font-family: $fontsMont-600;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $text-white;
      background-color: $color-green;
      border-radius: 0.5rem;
      text-transform: uppercase;
      background-image: url('../icons/UnionRightInvert.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-position: 74% 50%;
      &:hover {
        background-color: $color-green-dark;
      }
    }
  }
}

//======footer======//
.footer {
  width: 100%;
  height: 32.9rem;
  background-color: $bg-donation;

  &__container {
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
  }
  &__header {
    @include flex-block-justify();
    padding: 7rem 0;
  }

  &__logo {
    @include flex-block-justify();
    width: 100%;
    max-width: 41.4rem;
  }
  &__menu {
    width: 100%;
    max-width: 42.6rem;
  }
  &__list {
    @include flex-block-justify();
  }

  &__item {
    cursor: pointer;
    text-transform: uppercase;
    font-family: $nav-font;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  &__link {
    text-decoration: none;
    color: $text-white;
    &:hover {
    filter: opacity(0.5);
    }
    &:active {
    color: $nav-active;
    filter: opacity(0.5);
    }
  }

  &__leave_btn {
    @include flex-block-center();
    text-transform: uppercase;
    width: 35.9rem;
    height: 7.4rem;
    border-radius: 0.5rem;
    border: 1px solid $bg-white;
    background-color: transparent;
    background-image: url('../icons/UnionRightWhite.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    &:hover {
      background-color: $bg-white;
      background-image: url('../icons/UnionRight.svg');
      background-repeat: no-repeat;
      background-position: 90% 50%;
    }
  }
  &__leave_link {
    padding-right: 3.6rem;
    @include flex-block-center();
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-family: $nav-font;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-white;
    &:hover {
      color: $text-alter;
    }
  }
  &__footer {
    padding: 3.7rem 0;
    @include flex-block-justify();
  }
  &__texts {
    @include flex-block-justify();
    width: 100%;
    max-width: 44.8rem;
    font-family: $main-text-font;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-white;
  }

  &__social {
  @include flex-block-justify();
  width: 20rem;
  list-style: none;
  }
}