@import 'basic';
@import 'variables';
@import "mixins";
@import "btn";


//====HEADER====//
@import "header";

//======main======//
.touch {
  width: 100%;
  &__countainer {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
    img {
      width: 100%;
    }
  }
}
//////////1400//////////
@media screen and (max-width: 1400px) {
  .touch {
    width: 100%;
    &__countainer {
      margin: 0 auto;
      width: 100%;
      max-width: 1400px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
//////////1200//////////
@media screen and (max-width: 1200px) {
  .touch {
    width: 100%;
    &__countainer {
      margin: 0 auto;
      width: 100%;
      max-width: $tablet-landscape;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
//////////780//////////
@media screen and (max-width: 740px) {
  .touch {
    width: 100%;
    margin-top: 11rem;
    &__countainer {
      margin: 0 auto;
      width: 100%;
      max-width: 740px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
//////////640//////////
@media screen and (max-width: 640px) {
  .touch {
    width: 100%;
    margin-top: 11rem;
    &__countainer {
      margin: 0 auto;
      width: 100%;
      max-width: $tablet-mini;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
//////////480//////////
@media screen and (max-width: 480px) {
  .touch {
    width: 100%;
    margin-top: 11rem;
    &__countainer {
      margin: 0 auto;
      width: 100%;
      max-width: 480px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
//////////320//////////
@media screen and (max-width: 320px) {
  .touch {
    width: 100%;
    margin-top: 11rem;
    &__countainer {
      margin: 0 auto;
      width: 100%;
      max-width: $mobile;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}



.form {
  width: 100%;
  &__countainer {
    @include flex-block-justify();
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
    padding-top: 15rem;
    margin-bottom: 15rem;
  }

  &__info {
    width: 100%;
    max-width: 54.5rem;
    &_heading {
      font-family: $fontsMont-600;
      font-size: 5.4rem;
      line-height: 6.6rem;
      color: $text-green-lite;
      text-transform: uppercase;
    }
    &_text {
      margin-top: 5rem;
      font-family: $fontsMont-400;
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }

  &__forms {
    width: 100%;
    max-width: 68rem;
    &_error {
      display: none;
      font-family: $fontsMont-400;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $text-error;
    }
    &_body {
      margin: 0;
      padding: 0;
      label {
        display: block;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        height: 3.5rem;
        span {
          color: $text-green-lite;
        }
      }
      input {
        border: 1px solid $bg-default;
        &:invalid {
          // background-color: red;
          // display: block;
        }
      }
      &_input {
        display: block;
        padding-left: 2rem;
        border-radius: 0.5rem;
        width: 100%;
        height: 6rem;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-bottom: 3.1rem;
        color: #969696;
        &:focus {
          -webkit-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
          -moz-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
          box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
        }


      }
      textarea {
        display: block;
        padding-top: 2rem;
        padding-left: 2rem;
        border: 1px solid $bg-default;
        border-radius: 0.5rem;
        width: 100%;
        height: 20rem;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-bottom: 3rem;
        color: #969696;
      }
    }
    &_btns {
      margin-top: 7rem;
      input {
        border: none;
      }
    }
    &_btn {
      cursor: pointer;
      display: block;
      padding-right: 3.5rem;
      width: 100%;
      max-width: 35.9rem;
      height: 7.4rem;
      font-family: $fontsMont-600;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $text-white;
      background-color: $bg-green-lite;
      border-radius: 0.5rem;
      text-transform: uppercase;
      background-image: url('../icons/UnionRightInvert.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-position: 74% 50%;
      &:hover {
        background-color: $bg-green-dark;
      }
    }
  }
}
//////////1400//////////
@media screen and (max-width: 1400px) {

  .form {
    width: 100%;
    max-width: 100%;
    &__countainer {
      @include flex-block-justify();
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      max-width: 1400px;
      padding-top: 5rem;
      margin-bottom: 10.1rem;
    }

    &__info {
      width: 100%;
      max-width: 100%;
      &_heading {
        margin: 0 auto;
        font-family: $fontsMont-600;
        font-size: 5.4rem;
        line-height: 6.6rem;
        text-align: center;
        padding-right: 1rem;
        color: $text-green-lite;
        text-transform: uppercase;
      }
      &_text {
        // max-width: 83.5rem;
        margin-top: 3rem;
        padding-left: 22.3rem;
        padding-right: 14.2rem;
        text-align: center;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }

    &__forms {
      width: 100%;
      max-width: 74rem;
      margin-top: 5rem;
      &_body {
        margin: 0;
        padding: 0;
        label {
          display: block;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          height: 3.5rem;
          span {
            color: $text-green-lite;
          }
        }
        input {
          border: 1px solid $bg-default;
          &:invalid {
            // background-color: red;
            // display: block;
          }
        }
        &_input {
          display: block;
          padding-left: 2rem;
          border-radius: 0.5rem;
          width: 100%;
          height: 6rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3.1rem;
          color: #969696;
          &:focus {
            -webkit-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            -moz-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
          }
        }
        textarea {
          display: block;
          padding-top: 2rem;
          padding-left: 2rem;
          border: 1px solid $bg-default;
          border-radius: 0.5rem;
          width: 100%;
          height: 20rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3rem;
          color: #969696;
        }
      }
      &_btns {
        margin-top: 5.2rem;
        input {
          border: none;
        }
      }
      &_btn {
        display: block;
        padding-right: 3.5rem;
        width: 100%;
        max-width: 35.9rem;
        height: 7.4rem;
        font-family: $fontsMont-600;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $text-white;
        background-color: $bg-green-lite;
        border-radius: 0.5rem;
        text-transform: uppercase;
        background-image: url('../icons/UnionRightInvert.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-position: 74% 50%;
        &:hover {
          background-color: $bg-green-dark;
        }
      }
    }
  }

}
//////////1200//////////
@media screen and (max-width: 1200px) {

  .form {
    width: 100%;
    max-width: 100%;
    &__countainer {
      @include flex-block-justify();
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      max-width: $tablet-landscape;
      padding-top: 5rem;
      margin-bottom: 10.1rem;
    }

    &__info {
      width: 100%;
      max-width: 100%;
      &_heading {
        margin: 0 auto;
        font-family: $fontsMont-600;
        font-size: 5.4rem;
        line-height: 6.6rem;
        text-align: center;
        padding-right: 1rem;
        color: $text-green-lite;
        text-transform: uppercase;
      }
      &_text {
        // max-width: 83.5rem;
        margin-top: 3rem;
        padding-left: 22.3rem;
        padding-right: 14.2rem;
        text-align: center;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }

    &__forms {
      width: 100%;
      max-width: 74rem;
      margin-top: 5rem;
      &_body {
        margin: 0;
        padding: 0;
        label {
          display: block;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          height: 3.5rem;
          span {
            color: $text-green-lite;
          }
        }
        input {
          border: 1px solid $bg-default;
          &:invalid {
            // background-color: red;
            // display: block;
          }
        }
        &_input {
          display: block;
          padding-left: 2rem;
          border-radius: 0.5rem;
          width: 100%;
          height: 6rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3.1rem;
          color: #969696;
          &:focus {
            -webkit-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            -moz-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
          }
        }
        textarea {
          display: block;
          padding-top: 2rem;
          padding-left: 2rem;
          border: 1px solid $bg-default;
          border-radius: 0.5rem;
          width: 100%;
          height: 20rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3rem;
          color: #969696;
        }
      }
      &_btns {
        margin-top: 5.2rem;
        input {
          border: none;
        }
      }
      &_btn {
        display: block;
        padding-right: 3.5rem;
        width: 100%;
        max-width: 35.9rem;
        height: 7.4rem;
        font-family: $fontsMont-600;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $text-white;
        background-color: $bg-green-lite;
        border-radius: 0.5rem;
        text-transform: uppercase;
        background-image: url('../icons/UnionRightInvert.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-position: 74% 50%;
        &:hover {
          background-color: $bg-green-dark;
        }
      }
    }
  }

}
//////////780//////////
@media screen and (max-width: 780px) {

  .form {
    width: 100%;
    max-width: 100%;
    &__countainer {
      @include flex-block-justify();
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      max-width: 780px;
      padding-top: 4.7rem;
      margin-bottom: 10.0rem;
    }

    &__info {
      width: 100%;
      max-width: 60rem;
      &_heading {
        margin: 0 auto;
        font-family: $fontsMont-600;
        font-size: 5.4rem;
        line-height: 6.6rem;
        text-align: center;
        padding-right: 0rem;
        color: $text-green-lite;
        text-transform: uppercase;
      }
      &_text {
        // max-width: 83.5rem;
        margin-top: 1.7rem;
        padding-left: 0rem;
        padding-right: 0rem;
        text-align: center;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }

    &__forms {
      width: 100%;
      max-width: 60rem;
      margin-top: 5rem;
      &_body {
        margin: 0;
        padding: 0;
        label {
          display: block;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          height: 3.5rem;
          span {
            color: $text-green-lite;
          }
        }
        input {
          border: 1px solid $bg-default;
          &:invalid {
            // background-color: red;
            // display: block;
          }
        }
        &_input {
          display: block;
          padding-left: 2rem;
          border-radius: 0.5rem;
          width: 100%;
          height: 6rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3.1rem;
          color: #969696;
          &:focus {
            -webkit-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            -moz-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
          }
        }
        textarea {
          display: block;
          padding-top: 2rem;
          padding-left: 2rem;
          border: 1px solid $bg-default;
          border-radius: 0.5rem;
          width: 100%;
          height: 20rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3rem;
          color: #969696;
        }
      }
      &_btns {
        margin-top: 5.4rem;
        margin-left: 25.6%;
        input {
          border: none;
        }
      }
      &_btn {
        display: block;
        padding-right: 3.5rem;
        width: 100%;
        max-width: 29rem;
        height: 7.4rem;
        font-family: $fontsMont-600;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $text-white;
        background-color: $bg-green-lite;
        border-radius: 0.5rem;
        text-transform: uppercase;
        background-image: url('../icons/UnionRightInvert.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-position: 80% 50%;
        &:hover {
          background-color: $bg-green-dark;
        }
      }
    }
  }
}
//////////640//////////
@media screen and (max-width: 640px) {

  .form {
    width: 100%;
    max-width: 100%;
    &__countainer {
      @include flex-block-justify();
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      max-width: $tablet-landscape;
      padding-top: 4.7rem;
      margin-bottom: 10.0rem;
    }

    &__info {
      width: 100%;
      max-width: 60rem;
      &_heading {
        margin: 0 auto;
        font-family: $fontsMont-600;
        font-size: 5.4rem;
        line-height: 6.6rem;
        text-align: center;
        padding-right: 0rem;
        color: $text-green-lite;
        text-transform: uppercase;
      }
      &_text {
        // max-width: 83.5rem;
        margin-top: 1.7rem;
        padding-left: 0rem;
        padding-right: 0rem;
        text-align: center;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }

    &__forms {
      width: 100%;
      max-width: 60rem;
      margin-top: 5rem;
      &_body {
        margin: 0;
        padding: 0;
        label {
          display: block;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          height: 3.5rem;
          span {
            color: $text-green-lite;
          }
        }
        input {
          border: 1px solid $bg-default;
          &:invalid {
            // background-color: red;
            // display: block;
          }
        }
        &_input {
          display: block;
          padding-left: 2rem;
          border-radius: 0.5rem;
          width: 100%;
          height: 6rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3.1rem;
          color: #969696;
          &:focus {
            -webkit-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            -moz-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
          }
        }
        textarea {
          display: block;
          padding-top: 2rem;
          padding-left: 2rem;
          border: 1px solid $bg-default;
          border-radius: 0.5rem;
          width: 100%;
          height: 20rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3rem;
          color: #969696;
        }
      }
      &_btns {
        margin-top: 5.4rem;
        margin-left: 25.6%;
        input {
          border: none;
        }
      }
      &_btn {
        display: block;
        padding-right: 3.5rem;
        width: 100%;
        max-width: 29rem;
        height: 7.4rem;
        font-family: $fontsMont-600;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $text-white;
        background-color: $bg-green-lite;
        border-radius: 0.5rem;
        text-transform: uppercase;
        background-image: url('../icons/UnionRightInvert.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-position: 80% 50%;
        &:hover {
          background-color: $bg-green-dark;
        }
      }
    }
  }
}
//////////480//////////
@media screen and (max-width: 480px) {

  .form {
    width: 100%;
    max-width: 100%;
    &__countainer {
      @include flex-block-justify();
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      max-width: 480px;
      padding: 2.7rem 1rem 0;
      margin-bottom: 8rem;
    }

    &__info {
      width: 100%;
      max-width: 60rem;
      &_heading {
        margin: 0 auto;
        font-family: $fontsMont-600;
        font-size: 2.6rem;
        line-height: 3.2rem;
        text-align: center;
        padding-right: 0rem;
        color: $text-green-lite;
        text-transform: uppercase;
      }
      &_text {
        // max-width: 83.5rem;
        margin-top: 1.7rem;
        padding-left: 0rem;
        padding-right: 0rem;
        text-align: center;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }

    &__forms {
      width: 100%;
      max-width: 30rem;
      margin-top: 4.5rem;
      &_body {
        margin: 0;
        padding: 0;
        label {
          display: block;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          height: 3rem;
          span {
            color: $text-green-lite;
          }
        }
        input {
          border: 1px solid $bg-default;
          &:invalid {
            // background-color: red;
            // display: block;
          }
        }
        &_input {
          display: block;
          padding-left: 0.9rem;
          border-radius: 0.5rem;
          width: 100%;
          height: 5rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3.1rem;
          color: #969696;
          &:focus {
            -webkit-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            -moz-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
          }
        }
        textarea {
          display: block;
          padding-top: 2rem;
          padding-left: 0.9rem;
          border: 1px solid $bg-default;
          border-radius: 0.5rem;
          width: 100%;
          height: 20.3rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3rem;
          color: #969696;
        }
      }
      &_btns {
        margin-top: 3rem;
        margin-left:0;
        input {
          border: none;
        }
      }
      &_btn {
        display: block;
        padding-right: 3.5rem;
        width: 100%;
        max-width: 30rem;
        height: 5rem;
        font-family: $fontsMont-600;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $text-white;
        background-color: $bg-green-lite;
        border-radius: 0.5rem;
        text-transform: uppercase;
        background-image: url('../icons/UnionRightInvert.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-position: 79% 50%;
        &:hover {
          background-color: $bg-green-dark;
        }
      }
    }
  }
}
//////////320//////////
@media screen and (max-width: 320px) {

  .form {
    width: 100%;
    max-width: 100%;
    &__countainer {
      @include flex-block-justify();
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      max-width: $mobile;
      padding: 2.7rem 1rem 0;
      margin-bottom: 8rem;
    }

    &__info {
      width: 100%;
      max-width: 60rem;
      &_heading {
        margin: 0 auto;
        font-family: $fontsMont-600;
        font-size: 2.6rem;
        line-height: 3.2rem;
        text-align: center;
        padding-right: 0rem;
        color: $text-green-lite;
        text-transform: uppercase;
      }
      &_text {
        // max-width: 83.5rem;
        margin-top: 1.7rem;
        padding-left: 0rem;
        padding-right: 0rem;
        text-align: center;
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }

    &__forms {
      width: 100%;
      max-width: 30rem;
      margin-top: 4.5rem;
      &_body {
        margin: 0;
        padding: 0;
        label {
          display: block;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          height: 3rem;
          span {
            color: $text-green-lite;
          }
        }
        input {
          border: 1px solid $bg-default;
          &:invalid {
            // background-color: red;
            // display: block;
          }
        }
        &_input {
          display: block;
          padding-left: 0.9rem;
          border-radius: 0.5rem;
          width: 100%;
          height: 5rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3.1rem;
          color: #969696;
          &:focus {
            -webkit-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            -moz-box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
            box-shadow: 4px 4px 50px 0px rgba(0, 160, 146, 0.3);
          }
        }
        textarea {
          display: block;
          padding-top: 2rem;
          padding-left: 0.9rem;
          border: 1px solid $bg-default;
          border-radius: 0.5rem;
          width: 100%;
          height: 20.3rem;
          font-family: $fontsMont-400;
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3rem;
          color: #969696;
        }
      }
      &_btns {
        margin-top: 3rem;
        margin-left:0;
        input {
          border: none;
        }
      }
      &_btn {
        display: block;
        padding-right: 3.5rem;
        width: 100%;
        max-width: 30rem;
        height: 5rem;
        font-family: $fontsMont-600;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $text-white;
        background-color: $bg-green-lite;
        border-radius: 0.5rem;
        text-transform: uppercase;
        background-image: url('../icons/UnionRightInvert.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-position: 79% 50%;
        &:hover {
          background-color: $bg-green-dark;
        }
      }
    }
  }
}

//====FOOTER====//
@import "footer";