@import "basic";
@import "variables";
@import "mixins";
@import "btn";


//====HEADER====//
@import "header";

//======main======//
.sidebar {
  position: sticky;
  top: 0;
  width: 21rem;
  height: 84.6rem;
  background-color: $bg-dark-blue;
  z-index: 1000;
  &__container {
    position: relative;
    padding-top: 8rem;
    width: 100%;
    border-bottom: 1px solid $bg-white;
  }
  &__life {
    @include flex-block-center();
    position: absolute;
    top: 0;
    left: 0;
    width: 11rem;
    height: 3.8rem;
    border-bottom-right-radius: 0.5rem;
    color: $text-white;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.9rem;
    text-transform: uppercase;
    background-color: $bg-orange;
    img {
      margin-left: 1rem;
    }
  }

  &__link_brackets {
    width: 1.6rem;
    height: 1.6rem;
    color: $text-white;
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 50;
    background-image: url("../icons/brackets.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__list {
    @include flex-block-justify();
    flex-direction: column;
  }
  &__item {
    width: 100%;
    height: 17.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $bg-white;

    &_bg {
      position: relative;
      z-index: 15;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      width: 10.5rem;
      height: 10.5rem;
      border-radius: 50%;
      background-color: $bg-dark-orange;
      img {
        display: block;
        width: 75%;
        height: 75%;
      }
    }
    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &_active {
      background-color: $bg-white;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 11.5rem;
        height: 11.5rem;
        border: 3px solid $bg-white;
        border-radius: 50%;
      }
    }
    &.item1 {
      order: 1;
    }
    &.item2 {
      order: 2;
    }
    &.item3 {
      order: 3;
    }
    &.item4 {
      order: 0;
    }
  }

  &__arrow {
    display: block;
    width: 0.9rem;
    height: 1.5rem;
    position: absolute;
    bottom: -5.2rem;
    right: 11rem;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

//======Live cams======//
.cams {
  width: 100%;
  &__container {
    margin: 0 auto;
    margin-top: -84.5rem;
    width: 100%;
    max-width: $desktop;
  }

  &__top {
    margin: 5.4rem 0;
    position: relative;
    &_heading {
      width: 100%;
      font-family: $fontsMont-600;
      font-size: 5.4rem;
      line-height: 6.58rem;
      text-transform: uppercase;
      color: $text-green-lite;
      text-align: center;
    }

    &_btn {
    position: absolute;
    top: -5%;
    right: 0;
    @include flex-block-center();
    width: 24rem;
    height: 7.4rem;
    background-color: $bg-orange;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-white;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
      img {
        margin-left: 1rem;
      }
      &:hover {
        background-color: $bg-dark-orange;
      }
    }
  }

  &__video {
    position: relative;
    padding-bottom: 54%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
      &_iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &_default {
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 5%;
        padding-left: 1%;
        font-family: $fontsMont-500;
        font-size: 2.84rem;
        line-height: 3.69rem;
        color: $text-white;
        z-index: 10;
      }
      &_plug {
        position: absolute;
        left: 0;
        top: 0;
        background: transparent;
        width: 100%;
        height: 100%;
        z-index: 9;
      }
  }

  &__heading_small {
    margin-top: 10rem;
    margin-bottom: 2.8rem;
    text-align: center;
    font-family: $fontsMont-500;
    font-size: 4.2rem;
    line-height: 5.12rem;
    text-transform: uppercase;
  }

  &__preview {
  @include flex-block-justify();
  margin: 0 auto;
  margin-left: 10.5%;
  margin-bottom: 14.9rem;
  width: 100%;
  max-width: 122.6rem;
  height: 100%;
  max-height: 20.9rem;

    &_active {
      border: 3px solid $bg-orange;
    }

    &_list {
      @include flex-block-justify();
      width: 100%;
      max-width: 104rem;
    }
    &_item {
      position: relative;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      width: 32rem;
      height: 20.9rem;
      border-radius: 0.5rem;
    }

    &_iframe_small {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &_left {
      width: 8rem;
      height: 7.4rem;
      border-radius: 0.5rem;
      border: none;
      background-color: $bg-white;
      background-image: url("../icons/UnionLeft.svg");
      background-repeat: no-repeat;
      background-position: center;
        &:hover {
          background-color: $bg-dark-blue;
          background-image: url("../icons/UnionLeftInvert.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
    }
    &_right {
      width: 8rem;
      height: 7.4rem;
      border-radius: 0.5rem;
      border: none;
      background-color: $bg-white;
      background-image: url("../icons/UnionRight.svg");
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        background-color: $bg-dark-blue;
        background-image: url("../icons/UnionRightInvert.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &_webs {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      max-width: 18.9rem;
      height: 4.4rem;
      border-bottom: 1px solid $text-white;
      border-right: 1px solid $text-white;
      border-bottom-right-radius: 0.5rem;
      color: $text-white;
      font-family: $fontsMont-500;
      font-size: 2.6rem;
      line-height: 3.16rem;
      img {
        margin-left: 1rem;
      }
    }
  }

  &__logo {
    position: absolute;
    right: 2%;
    bottom: 8.5%;
  }
}
//======Your donation makes a difference======//

.donation {
  @include flex-block-center();
  width: 100%;
  background-color: $bg-dark-blue;

  &__container {
      @include flex-block-justify();
      align-items: flex-start;
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
  }

  &__heading {
    text-transform: uppercase;
    font-family: $fontsMont-500;
    font-size: 4.2rem;
    line-height: 5.12rem;
    color: $text-white;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  &__text {
    width: 100%;
    max-width: 92rem;
    font-family: $fontsMont-400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $text-white;
    margin-bottom: 4.7rem;
  }

  &__form {
    margin-top: 5rem;
    position: relative;
  }

  &__label {
    display: block;
    width: 60%;
    font-family: $fontsMont-500;
    font-size: 2.6rem;
    line-height: 3.38rem;
    color: $text-white;
    &::before {
        content: "$";
        position: absolute;
        padding-left: 1rem;
        z-index: 15;
        top: 7rem;
        left: 0.3rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-family: $fontsMont-600;
        color: $text-white;
    }
  }

  &__input {
    position: relative;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 9rem;
    width: 32rem;
    height: 7.4rem;
    border: 1px solid $bg-white;
    border-radius: 0.5rem;
    background-color: $bg-dark-blue;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: $text-white;
    -moz-appearance: textfield;
      &::-webkit-input-placeholder {
        color: $text-white;
      }
      &::-moz-placeholder {
        color: $text-white;
        opacity:1;
      }
      &:focus::-webkit-input-placeholder {
         opacity:0;
      }
      &:focus::-moz-placeholder {
         opacity:0;
      }

      &:hover {
        -moz-appearance: none;
      }
      &:focus {
        -moz-appearance: none;
      }
  }

  &__btn {
      position: absolute;
      right: 0;
      bottom: 0;
      @include flex-block-center();
      width: 8rem;
      height: 7.4rem;
      background-color: $bg-orange;
      border-radius: 0.5rem;
      border-top: 1px solid $bg-white;
      border-right: 1px solid $bg-white;
      border-bottom: 1px solid $bg-white;
      border-left: none;
      &:hover {
        background-color: $bg-dark-orange;
      }
  }
}

//======Did you know======//
.information {
  width: 100%;
  padding-bottom: 15rem;
  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
  }
  &__knowledge {
    margin: 15rem 0 15rem 17%;
    width: 100%;
    max-width: 104rem;
    padding: 4.6rem 6rem 5rem;
    box-shadow:1px 1px 50px 4px rgba(0,0,0,0.25);
      -webkit-box-shadow:1px 1px 50px 4px rgba(0,0,0,0.25);
      -moz-box-shadow:1px 1px 50px 4px rgba(0,0,0,0.25);
    &_heading {
      margin: 0 auto 2rem;
      font-family: $fontsMont-500;
      font-size: 4.2rem;
      line-height: 5.12rem;
      text-align: center;
      color: $text-green-lite;
      text-transform: uppercase;
    }
    &_text {
      width: 100%;
      font-family: $fontsMont-500;
      text-align: center;
      font-size: 2.6rem;
      line-height: 3.38rem;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 20rem;
    width: 100%;
    max-width: 116rem;
    &_img {
      width: 100%;
      max-width: 44rem;
      img{
        display: block;
        max-width: 100%;
      }
    }

  }

  &__card {
    position: relative;
    width: 100%;
    max-width: 56rem;
    &_item {
      margin-bottom: 2.15rem;
      font-family: $fontsMont-500;
      font-size: 2.6rem;
      line-height: 3.38rem;
    }
    &_item > span {
      font-family: $fontsMont-400;
      font-size: 1.8rem;
      line-height: 2.7rem;
      margin-left: 2rem;
    }
  }

  &__btn {
    cursor: pointer;
    // margin-left: -7rem;
    position: absolute;
    right: 0;
    bottom: 0;
    @include flex-block-center();
    width: 24rem;
    height: 7.4rem;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-orange;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;
    background-image: url("../icons/UnionOrange.svg");
    background-repeat: no-repeat;
    background-position: 78% 50%;
    padding-right: 3.7rem;
    &:hover {
      color: $text-white;
      background-color: $bg-dark-orange;
      background-image: url("../icons/UnionRightInvert.svg");
      background-repeat: no-repeat;
      background-position: 78% 50%;
    }
  }

  &__text {
    width: 100%;
    max-width: 116rem;
    margin-top: 5rem;
    font-family: $fontsMont-400;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

//====FOOTER====//
@import "footer";