@import "basic";
@import "variables";
@import "mixins";


//====HEADER====//
@import "header";

//======main======//
.main {
  width: 100%;
  height: 130.3rem;
}

.map {
  margin: 0 auto;
  width: 100%;
  max-width: $desktop;
  &__header {
    margin: 4rem auto 7rem;
    text-align: center;
    width: 100%;
    max-width: 60rem;
    font-family: $fontsMont-600;
    font-size: 5.4rem;
    line-height: 6.5rem;
    color: $text-dark-blue;
    text-transform: uppercase;
  }
}

.maps {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: $desktop;
  background-color: tomato;
}

#map {
  width: 100%;
  max-width: $desktop;
}

.full-map__pin_body {
  filter: drop-shadow(0px 4px 20px #20113d)
    drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
}
.full-map__pin_body,
.full-map__pin_icon {
  cursor: pointer;
}
.full-map__pin:hover > .full-map__pin_body {
  fill: #fff;
  filter: drop-shadow(0px 4px 20px #20113d)
    drop-shadow(0px 4px 30px rgba(255, 255, 255, 0.5));
  transition: linear 0.3s;
}
.full-map__pin:hover > .full-map__pin_outline {
  stroke-width: 3px;
  stroke-opacity: 1;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

//====FOOTER====//
@import "footer";