@import "basic";
@import "variables";
@import "mixins";
@import "btn";

aside {
  margin: 0;
  padding: 0;
}
.main {
  position: relative;
  margin: 0;
  padding: 0;
}
.sticky {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  @media screen and (max-width: 1833px) {
    height: 1497px;
  }
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 21rem;
  height: 84.6rem;
  background-color: $bg-dark-blue;
  z-index: 150;
  &__container {
    position: relative;
    padding-top: 8rem;
    width: 100%;
    border-bottom: 1px solid $bg-white;
  }
  &__life {
    @include flex-block-center();
    position: absolute;
    top: 0;
    left: 0;
    width: 11.2rem;
    height: 3.8rem;
    border-bottom-right-radius: 0.5rem;
    color: $text-white;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.9rem;
    text-transform: uppercase;
    background-color: $bg-orange;
    img {
      margin-left: 1rem;
    }
  }

  &__link_brackets {
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    color: $text-white;
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 50;
    background-image: url("../icons/brackets.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__list {
    @include flex-block-justify();
    flex-direction: column;
  }
  &__item {
    width: 100%;
    height: 17.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $bg-white;
    p {
      display: none;
      width: 16.9rem;
      font-family: $fontsMont-400;
      font-size: 1.8rem;
      line-height: 2.7rem;
      font-weight: normal;
      color: $text-white;
    }
    &_bg {
      position: relative;
      z-index: 15;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10.5rem;
      height: 10.5rem;
      border-radius: 50%;
      background-color: $bg-dark-orange;
    }
    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &_body {
      width: 6.5rem;
      height: 6.5rem;
    }
    &_icon {
      fill: $bg-dark-blue;
    }
    .panda {
      width: 8rem;
      height: 8rem;
    }
    &_active {
      background-color: $bg-white;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 11.5rem;
        height: 11.5rem;
        border: 3px solid $bg-white;
        border-radius: 50%;
      }
    }
  }

  &__arrow {
    cursor: pointer;
    display: block;
    width: 0.9rem;
    height: 1.5rem;
    position: absolute;
    bottom: -5.2rem;
    right: 11rem;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
  }
}



.sidebar.show {
  width: 30rem;
}
.sidebar__link_brackets.show {
    transform: scale(-1, 1);
}
.sidebar__life.show {
  width: 12rem;
}
.sidebar__arrow.show {
  right: 15rem;
}
.sidebar__item_bg.show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25.6rem;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  margin-left: 0.8rem;
  p {
    display: block;
  }
  .sidebar__item_body {
    width: auto;
    height: 5rem;
    margin-right: 2.5rem;
  }
  .sidebar__item_icon {
    fill: $bg-orange;
  }
  .sidebar__item_body.panda {
    width: auto;
    height: 5rem;
  }
  .sidebar__item_body.lemur {
    margin-right: 3.8rem;
  }
}

.sidebar__item_bg.show_active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.8rem;
  width: 25.6rem;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  &::after {
    display: none;
  }
  p {
    display: block;
  }
  .sidebar__item_body {
    width: auto;
    height: 5rem;
    margin-right: 2.5rem;
  }
  .sidebar__item_icon {
    fill: $bg-white;
  }
  .sidebar__item_body.panda {
    width: auto;
    height: 5rem;
  }
  .sidebar__item_body.lemur {
    margin-right: 3.8rem;
  }
}
.sidebar__item_link.show {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

