@import 'basic';
@import 'variables';

@mixin flex-block-justify() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-block-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

//====!!==HEADER==!!====//
.main_heading {
  display: inline;
  width: 1px;
  height: 1px;
  font-size: 0.1rem;
  visibility: hidden;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 11rem;
  background-color: $bg-header;

    &__container {
      @include flex-block-justify();
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
    }
}

//==menu==//
.nav {
  @include flex-block-justify();
  width: 100%;
  max-width: 80rem;

    &__list {
      @include flex-block-justify();
      width: 100%;
      max-width: 55rem;
    }

    &__item {
      cursor: pointer;
      text-transform: uppercase;
      font-family: $nav-font;
      font-size: 1.8rem;
      line-height: 2.7rem;
    }

}

.nav__link {
  text-decoration: none;
  color: $text-default;

  &:hover {
    filter: opacity(0.5);
  }

  &:active {
    color: $nav-active;
    filter: opacity(0.5);
  }

  &_active {
    color:$nav-active;
    &:hover {
      filter: none;
    }
  }

}

//==social==//
.social {
  @include flex-block-justify();
  width: 18rem;
  list-style: none;

    &__item {
    display: block;
    width: 4rem;
    height: 4rem;
      &:hover {
      opacity: .6;
      }
    }
}

.icon_yt {
  background-image: url('../icons/YouTube.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon_inst {
  background-image: url('../icons/Instagram.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon_fb {
  background-image: url('../icons/Facebook.svg');
  background-repeat: no-repeat;
  background-position: center;
}

//======main======//
//======Live cams======//
.cams {
  width: 100%;
  height: 149.7rem;
  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
  }
}
//======Your donation makes a difference======//

.donation {
  @include flex-block-center();
  width: 100%;
  background-color: $bg-donation;

  &__container {
      @include flex-block-justify();
      align-items: flex-start;
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
  }

  &__heading {
    text-transform: uppercase;
    font-family: $donation-header-font;
    font-size: 4.2rem;
    line-height: 5.12rem;
    color: $text-white;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  &__text {
    width: 100%;
    max-width: 87.3rem;
    font-family: $main-text-font;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $text-white;
    margin-bottom: 4.7rem;
  }

  &__form {
    margin-top: 5rem;
    position: relative;
  }

  &__label {
    display: block;
    width: 60%;
    font-family: $donation-header-font;
    font-size: 2.6rem;
    line-height: 3.38rem;
    color: $text-white;
    &::before {
        content: "$";
        position: absolute;
        padding-left: 1rem;
        z-index: 15;
        top: 7rem;
        left: 0.3rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-family: $nav-font;
        color: $text-white;
    }
  }

  &__input {
    position: relative;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 9rem;
    width: 32rem;
    height: 7.4rem;
    border: 1px solid $bg-white;
    border-radius: 0.5rem;
    background-color: $bg-donation;
    font-family: $nav-font;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: $text-white;
    -moz-appearance: textfield;
      &::-webkit-input-placeholder {
        color: $text-white;
      }
      &::-moz-placeholder {
        color: $text-white;
        opacity:1;
      }
      &:focus::-webkit-input-placeholder {
         opacity:0;
      }
      &:focus::-moz-placeholder {
         opacity:0;
      }

      &:hover {
        -moz-appearance: none;
      }
      &:focus {
        -moz-appearance: none;
      }
  }

  &__btn {
      position: absolute;
      right: 0;
      bottom: 0;
      @include flex-block-center();
      width: 8rem;
      height: 7.4rem;
      background-color: $bg-btn;
      border-radius: 0.5rem;
      border-top: 1px solid $bg-white;
      border-right: 1px solid $bg-white;
      border-bottom: 1px solid $bg-white;
      border-left: none;
      &:hover {
        background-color: $bg-btn-hover;
      }
  }
}

//======Did you know======//
.information {
  width: 100%;
  padding-bottom: 15rem;
  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
  }
  &__knowledge {
    margin: 15rem 0 15rem 17%;
    width: 100%;
    max-width: 104rem;
    padding: 4.6rem 6rem 5rem;
    &_heading {
      margin: 0 auto 2rem;
      width: 37rem;
      font-family: $fontsMont-500;
      color: $color-green;
      font-size: 4.2rem;
      line-height: 5.12rem;
      text-transform: uppercase;
    }
    &_text {
      width: 100%;
      font-family: $fontsMont-500;
      text-align: center;
      font-size: 2.6rem;
      line-height: 3.38rem;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 20rem;
    width: 100%;
    max-width: 116rem;
    &_img {
      width: 100%;
      max-width: 44rem;
      img{
        display: block;
        max-width: 100%;
      }
    }

  }

  &__card {
    position: relative;
    width: 100%;
    max-width: 47.9rem;
    &_item {
      margin-bottom: 2.15rem;
      font-family: $fontsMont-500;
      font-size: 2.6rem;
      line-height: 3.38rem;
    }
    &_item > span {
      font-family: $fontsMont-400;
      font-size: 1.8rem;
      line-height: 2.7rem;
      margin-left: 2rem;
    }
  }

  &__btn {
    cursor: pointer;
    // margin-left: -7rem;
    position: absolute;
    right: 0;
    bottom: 0;
    @include flex-block-center();
    width: 24rem;
    height: 7.4rem;
    font-family: $nav-font;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $bg-text;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;
    background-image: url('../icons/UnionOrange.svg');
    background-repeat: no-repeat;
    background-position: 78% 50%;
    padding-right: 3.7rem;
    &:hover {
      color: $text-white;
      background-color: $bg-btn-hover;
      background-image: url('../icons/UnionRightInvert.svg');
      background-repeat: no-repeat;
      background-position: 78% 50%;
    }
  }

  &__text {
    width: 100%;
    max-width: 116rem;
    margin-top: 5rem;
    font-family: $fontsMont-400;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

//======footer======//
.footer {
  width: 100%;
  height: 32.9rem;
  background-color: $bg-donation;

  &__container {
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
  }
  &__header {
    @include flex-block-justify();
    padding: 7rem 0;
  }

  &__logo {
    @include flex-block-justify();
    width: 100%;
    max-width: 41.4rem;
  }
  &__menu {
    width: 100%;
    max-width: 42.6rem;
  }
  &__list {
    @include flex-block-justify();
  }

  &__item {
    cursor: pointer;
    text-transform: uppercase;
    font-family: $nav-font;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  &__link {
    text-decoration: none;
    color: $text-white;
    &:hover {
    filter: opacity(0.5);
    }
    &:active {
    color: $nav-active;
    filter: opacity(0.5);
    }
  }

  &__leave_btn {
    @include flex-block-center();
    text-transform: uppercase;
    width: 35.9rem;
    height: 7.4rem;
    border-radius: 0.5rem;
    border: 1px solid $bg-white;
    background-color: transparent;
    background-image: url('../icons/UnionRightWhite.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    &:hover {
      background-color: $bg-white;
      background-image: url('../icons/UnionRight.svg');
      background-repeat: no-repeat;
      background-position: 90% 50%;
    }
  }
  &__leave_link {
    padding-right: 3.6rem;
    @include flex-block-center();
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-family: $nav-font;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-white;
    &:hover {
      color: $text-alter;
    }
  }
  &__footer {
    padding: 3.7rem 0;
    @include flex-block-justify();
  }
  &__texts {
    @include flex-block-justify();
    width: 100%;
    max-width: 44.8rem;
    font-family: $main-text-font;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-white;
  }

  &__social {
  @include flex-block-justify();
  width: 20rem;
  list-style: none;
  }
}