@import 'basic';
@import 'variables';


@mixin flex-block-justify() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-block-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

//====!!==HEADER==!!====//
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 11rem;
  background-color: $bg-header;

    &__container {
      @include flex-block-justify();
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
    }

}

//==menu==//
.nav {
  @include flex-block-justify();
  width: 100%;
  max-width: 80rem;

    &__list {
      @include flex-block-justify();
      width: 100%;
      max-width: 55rem;
    }

    &__item {
      cursor: pointer;
      text-transform: uppercase;
      font-family: $nav-font;
      font-size: 1.8rem;
      line-height: 2.7rem;
    }

}

.nav__link {
  text-decoration: none;
  color: $text-default;

  &:hover {
    filter: opacity(0.5);
  }

  &:active {
    color: $nav-active;
    filter: opacity(0.5);
  }

  &_active {
    color:$nav-active;
    &:hover {
      filter: none;
    }
  }

}

//==social==//
.social {
  @include flex-block-justify();
  width: 18rem;
  list-style: none;

    &__item {
    display: block;
    width: 4rem;
    height: 4rem;
      &:hover {
      opacity: .6;
      }
    }
}

.icon_yt {
  background-image: url('../icons/YouTube.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon_inst {
  background-image: url('../icons/Instagram.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon_fb {
  background-image: url('../icons/Facebook.svg');
  background-repeat: no-repeat;
  background-position: center;
}

//======Watch your favorite animal online======//
.favorite {
  width: 100%;
  height: 790px;
  background-image: url('../images/bgPanda.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

    &__container {
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
      padding-top: 12.8rem;
    }
    &__header {
      width: 89rem;
      font-family: $main-header-font;
      font-size: 8.2rem;
      line-height: 10rem;
      text-transform: uppercase;
      color: $main-header;
      letter-spacing: 0.07rem;
      margin-bottom: 3.2rem;
    }
    &__text {
      width: 43rem;
      font-family: $main-text-font;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $text-default;
      margin-bottom: 4.5rem;
    }
    &__btn {
      @include flex-block-center();
      width: 24rem;
      height: 7.4rem;
      background-color: $bg-btn;
      font-family: $nav-font;
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: $text-white;
      text-transform: uppercase;
      border-radius: 5px;
      border: none;
      img {
        margin-left: 1rem;
      }
      &:hover {
        background-color: $bg-btn-hover;
      }
    }
}

//======Welcome to the zoo / How it works======//
.welcome {
  width: 100%;
  height: 136.2rem;

    &__container {
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
    }

    &__news {
      @include flex-block-justify();
      margin-top: 15rem;
    }

    &__main {
      display: flex;
      flex-direction: column;
    }

    &__heading {
      font-family: $heading-font;
      font-size: 5.4rem;
      line-height: 6.5rem;
      text-transform: uppercase;
      color: $main-header;
      margin-bottom: 5rem;
    }

    &__text {
      width: 100%;
      max-width: 56rem;
      font-family: $main-text-font;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $text-default;
    }

    &__img {
      width: 100%;
      max-width: 80rem;

      img {
        width: 100%;
        height: auto;
      }

    }
}

//======Your donation makes a difference======//

.donation {
  @include flex-block-center();
  width: 100%;
  height: 22.1rem;
  background-color: $bg-donation;

  &__container {
      @include flex-block-justify();
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
    }

  &__heading {
    text-transform: uppercase;
    font-family: $donation-header-font;
    font-size: 4.2rem;
    line-height: 5.12rem;
    color: $text-white;
    margin-bottom: 2rem;
  }

  &__text {
    width: 100%;
    max-width: 60.9rem;
    font-family: $main-text-font;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $text-white;
  }

  &__form {
    position: relative;
  }

  &__label {
    display: block;
    width: 60%;
    font-family: $donation-header-font;
    font-size: 2.6rem;
    line-height: 3.38rem;
    color: $text-white;
    &::before {
        content: "$";
        position: absolute;
        padding-left: 10px;
        z-index: 15;
        top: 7rem;
        left: 0.3rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-family: $nav-font;
        color: $text-white;
    }
  }

  &__input {
    position: relative;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 9rem;
    width: 32rem;
    height: 7.4rem;
    border: 1px solid $bg-white;
    border-radius: 0.5rem;
    background-color: $bg-donation;
    font-family: $nav-font;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: $text-white;
    -moz-appearance: textfield;
      &::-webkit-input-placeholder {
        color: $text-white;
      }
      &::-moz-placeholder {
        color: $text-white;
        opacity:1;
      }
      &:focus::-webkit-input-placeholder {
         opacity:0;
      }
      &:focus::-moz-placeholder {
         opacity:0;
      }

      &:hover {
        -moz-appearance: none;
      }
      &:focus {
        -moz-appearance: none;
      }
  }

  &__btn {
      position: absolute;
      right: 0;
      bottom: 0;
      @include flex-block-center();
      width: 8rem;
      height: 7.4rem;
      background-color: $bg-btn;
      border-radius: 5px;
      border-top: 1px solid $bg-white;
      border-right: 1px solid $bg-white;
      border-bottom: 1px solid $bg-white;
      border-left: none;
      &:hover {
        background-color: $bg-btn-hover;
      }
  }
}

//======Meet some our friends======//

.friends {
  width: 100%;
  height: 242.2rem;
  overflow: hidden;
  &__container {
      // @include flex-block-justify();
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
    }

  &__heading {
      font-family: $heading-font;
      font-size: 5.4rem;
      line-height: 6.5rem;
      text-transform: uppercase;
      color: $main-header;
      text-align: center;
      margin-top: 13.6rem;
      margin-bottom: 5rem;
  }

  &__text {
    width: 100%;
    margin: 0 auto;
    max-width: 92rem;
    font-family: $donation-header-font;
    font-size: 2.6rem;
    line-height: 3.3rem;
    text-align: center;
    color: $text-default;
  }

  &__arrow {
    width: 18.5rem;
    margin: 10.5rem auto 0;
    @include flex-block-center();
    justify-content: space-between;
  }

  &__left {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    border: 1px solid $btn-alt;
    background-color: $bg-white;
    background-image: url('../icons/UnionLeft.svg');
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: $btn-alt;
      background-image: url('../icons/UnionLeftInvert.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__right {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    border: 1px solid $btn-alt;
    background-color: $bg-white;
    background-image: url('../icons/UnionRight.svg');
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: $btn-alt;
      background-image: url('../icons/UnionRightInvert.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__carts {
    width: 192rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-left: -2rem;
  }

  &__cart {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 44rem;
    height: 74.7rem;
    background-color: $bg-cards;
    border-radius: 0.5rem;
    &:hover {
      width: 48rem;
      height: 78.7rem;
      position: relative;
      transition-duration: 2s;
      z-index: 50;
    }
    &_wrapper {
      @include flex-block-center();
      width: 48rem;
      height: 78.7rem;
    }
  }

  &__cart_frame {
    display: inline-block;
    position: absolute;
    padding: 0 3rem;
    height: 6rem;
    font-family: $donation-header-font;
    font-size: 2.6rem;
    line-height: 5.4rem;
    color: $text-white;
    background-color: $bg-cards;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  &__cart_img {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  &__cart_heading {
    margin: 3rem auto 1.5rem;
    font-family: $donation-header-font;
    font-size: 2.6rem;
    line-height: 3.4rem;
    color: $text-white;
  }
  &__cart_text {
    width: 38rem;
    margin: 0 auto;
    font-family: $main-text-font;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    color: $text-white;
  }
  &__btn {
    margin-left: -12rem;
    position: absolute;
    left: 50%;
    bottom: 5rem;
    @include flex-block-center();
    width: 24rem;
    height: 7.3rem;
    background-color: $btn-alt;
    font-family: $nav-font;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $bg-text;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border-radius: 5px;
    border: none;
    img {
      margin-left: 1rem;
    }
    &:hover {
      background-color: $bg-btn-hover;
    }
  }
  &__choose {
    margin-top: 8rem;
    width: 100%;
    @include flex-block-center();
  }
  &__choose_btn {
    @include flex-block-center();
    text-transform: uppercase;
    width: 36rem;
    height: 7.4rem;
    border-radius: 0.5rem;
    border: 1px solid $btn-alt;

    background-color: $bg-white;
    background-image: url('../icons/UnionRight.svg');
    background-repeat: no-repeat;
    background-position: 89% 50%;
    padding-right: 35px;
    img {
      margin-left: 1rem;
    }
    &:hover {
      background-color: $btn-alt;
      background-image: url('../icons/UnionRightInvert.svg');
      background-repeat: no-repeat;
      background-position: 89% 50%;
    }
  }
  &__choose_link {
    text-decoration: none;
    font-family: $nav-font;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $btn-alt;
    &:hover {
      color: $text-white;
    }
  }
}