@import "basic";
@import "variables";
@import "mixins";
@import "btn";

//====HEADER====//
@import "header";

//======Watch your favorite animal online======//
.favorite {
  width: 100%;
  height: 79rem;
  background-image: url("../images/bgPanda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

    &__container {
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
      padding-top: 12.9rem;
    }
    &__header {
      width: 89rem;
      font-family: $fontsMont-800;
      font-size: 8.2rem;
      line-height: 10rem;
      text-transform: uppercase;
      color: $text-green-lite;
      letter-spacing: 0.08rem;
      margin-bottom: 3.2rem;
    }
    &__text {
      width: 43rem;
      font-family: $fontsMont-400;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $text-default;
      margin-bottom: 4.3rem;
    }
    &__btn {
      @include flex-block-center();
      width: 24rem;
      height: 7.4rem;
      background-color: $bg-orange;
      font-family: $fontsMont-600;
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: $text-white;
      text-transform: uppercase;
      border: none;
      border-radius: 0.5rem;
      padding-left: 3px;
      &_link {
        @include flex-block-center();
        text-decoration: none;
        color: $text-white;
        width: 100%;
        height: 100%;
      }
      img {
        margin-left: 1rem;
      }
      &:hover {
        background-color: $bg-dark-orange;
      }
    }
}

//======Welcome to the zoo / How it works======//
.temp {
  position: relative;
  top: -1.1rem;
}

.welcome {
  width: 100%;

    &__container {
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
    }

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 121.4rem;
      margin-top: 15rem;
      margin-bottom: 14.8rem;
    }

    &__news {
      @include flex-block-justify();
    }

    &__main {
      display: flex;
      flex-direction: column;
    }

    &__heading {
      font-family: $fontsMont-600;
      font-size: 5.4rem;
      line-height: 6.5rem;
      text-transform: uppercase;
      color: $text-green-lite;
      margin-bottom: 5rem;
    }

    &__text {
      width: 100%;
      max-width: 56rem;
      font-family: $fontsMont-400;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $text-default;
    }

    &__img {
      width: 100%;
      max-width: 80rem;

      img {
        width: 100%;
        height: auto;
      }

    }
}

//======Your donation makes a difference======//

.donation {
  @include flex-block-center();
  width: 100%;
  height: 22.1rem;
  background-color: $bg-dark-blue;

  &__container {
      @include flex-block-justify();
      align-items: flex-start;
      margin: 0 auto;
      padding-top: 0.9rem;
      width: 100%;
      max-width: $desktop;
  }

  &__heading {
    text-transform: uppercase;
    font-family: $fontsMont-500;
    font-size: 4.2rem;
    line-height: 5.12rem;
    color: $text-white;
    margin-bottom: 2rem;
  }

  &__text {
    width: 100%;
    max-width: 60.9rem;
    font-family: $fontsMont-400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $text-white;
  }

  &__form {
    position: relative;
  }

  &__label {
    display: block;
    width: 60%;
    font-family: $fontsMont-500;
    font-size: 2.6rem;
    line-height: 3.38rem;
    color: $text-white;
    &::before {
        content: "$";
        position: absolute;
        padding-left: 1rem;
        z-index: 15;
        top: 7rem;
        left: 0.3rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-family: $fontsMont-600;
        color: $text-white;
    }
  }

  &__input {
    position: relative;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 9rem;
    width: 32rem;
    height: 7.4rem;
    border: 1px solid $bg-white;
    border-radius: 0.5rem;
    background-color: $bg-dark-blue;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: $text-white;
    -moz-appearance: textfield;
      &::-webkit-input-placeholder {
        color: $text-white;
      }
      &::-moz-placeholder {
        color: $text-white;
        opacity:1;
      }
      &:focus::-webkit-input-placeholder {
         opacity:0;
      }
      &:focus::-moz-placeholder {
         opacity:0;
      }

      &:hover {
        -moz-appearance: none;
      }
      &:focus {
        -moz-appearance: none;
      }
  }

  &__btn {
      position: absolute;
      right: 0;
      bottom: 0;
      @include flex-block-center();
      width: 8rem;
      height: 7.4rem;
      background-color: $bg-orange;
      border-radius: 0.5rem;
      border-top: 1px solid $bg-white;
      border-right: 1px solid $bg-white;
      border-bottom: 1px solid $bg-white;
      border-left: none;
      &:hover {
        background-color: $bg-dark-orange;
      }
  }
}

//======Meet some our friends======//

.friends {
  width: 100%;
  // height: 242.2rem;
  overflow: hidden;

  &__container {
      // @include flex-block-justify();
      margin: 0 auto;
      width: 100%;
      max-width: $desktop;
  }

  &__hidden {
    position: absolute;
    right: 0%;
    width: 100%;
    max-width: 25rem;
    height: 153.4rem;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5158438375350141) 20%, rgba(255,255,255,1) 89%);
    z-index: 100;
  }

  &__heading {
      font-family: $fontsMont-600;
      font-size: 5.4rem;
      line-height: 6.5rem;
      text-transform: uppercase;
      color: $text-green-lite;
      text-align: center;
      margin-top: 13.6rem;
      margin-left: 2rem;
      margin-bottom: 5rem;
  }

  &__text {
    width: 100%;
    margin: 0 auto;
    max-width: 92rem;
    font-family: $fontsMont-500;
    font-size: 2.6rem;
    line-height: 3.4rem;
    text-align: center;
    color: $text-default;
  }

  &__arrow {
    width: 100%;
    max-width: 17.5rem;
    margin: 0 auto;
    margin-top: 10.1rem;
    @include flex-block-justify();
  }

  &__left {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    border: 1px solid $bg-dark-blue;
    background-color: $bg-white;
    background-image: url("../icons/UnionLeft.svg");
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: $bg-dark-blue;
      background-image: url("../icons/UnionLeftInvert.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__right {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    border: 1px solid $bg-dark-blue;
    background-color: $bg-white;
    background-image: url("../icons/UnionRight.svg");
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: $bg-dark-blue;
      background-image: url("../icons/UnionRightInvert.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__carts {
    position: relative;
    width: 192rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-left: -2rem;
  }

  &__cart {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 44rem;
    height: 74.7rem;
    background-color: $bg-dark-blue;
    border-radius: 0.5rem;
    &:hover {
      width: 48rem;
      height: 78.7rem;
      position: relative;
      transition-duration: 2s;
      z-index: 50;
    }
    &_wrapper {
      @include flex-block-center();
      width: 48rem;
      height: 78.7rem;
    }
  }

  &__cart_frame {
    display: inline-block;
    position: absolute;
    padding: 0 2.5rem;
    height: 6rem;
    font-family: $fontsMont-500;
    font-size: 2.6rem;
    line-height: 5.4rem;
    color: $text-white;
    background-color: $bg-dark-blue;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  &__cart_link {
    text-decoration: none;
  }
  &__cart_img {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  &__cart_heading {
    margin: 3rem auto 1.5rem;
    font-family: $fontsMont-500;
    font-size: 2.6rem;
    line-height: 3.4rem;
    color: $text-white;
  }
  &__cart_text {
    width: 35rem;
    margin: 0 auto;
    font-family: $fontsMont-400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    color: $text-white;
  }
  &__btn {
    margin-left: -12rem;
    position: absolute;
    left: 50%;
    bottom: 5rem;
    @include flex-block-center();
    width: 24rem;
    height: 7.3rem;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-orange;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;
    background-image: url("../icons/UnionOrange.svg");
    background-repeat: no-repeat;
    background-position: 92% 50%;
    padding-right: 3.6rem;
    &:hover {
      color: $text-white;
      background-color: $bg-dark-orange;
      background-image: url("../icons/UnionRightInvert.svg");
      background-repeat: no-repeat;
      background-position: 92% 50%;
    }
  }
  &__choose {
    margin-top: 8rem;
    width: 100%;
    @include flex-block-center();
  }
  &__choose_btn {
    @include flex-block-center();
    text-transform: uppercase;
    width: 36rem;
    height: 7.4rem;
    border-radius: 0.5rem;
    border: 1px solid $bg-dark-blue;
    background-color: $bg-white;
    background-image: url("../icons/UnionRight.svg");
    background-repeat: no-repeat;
    background-position: 89% 50%;
    img {
      margin-left: 1rem;
    }
    &:hover {
      background-color: $bg-dark-blue;
      background-image: url("../icons/UnionRightInvert.svg");
      background-repeat: no-repeat;
      background-position: 89% 50%;
    }
  }
  &__choose_link {
    @include flex-block-center();
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-right: 3.5rem;
    color: $text-dark-blue;
    &:hover {
      color: $text-white;
    }
  }
}

//======Pay and feed======//
.payfeed {
  margin-top: 15rem;
  width: 100%;
  height: 220.5rem;
  background-color: $bg-dark-blue;

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
  }
  &__list {
    margin-bottom: 1rem;
  }
  &__heading {
    font-family: $fontsMont-600;
    font-size: 5.4rem;
    line-height: 6.6rem;
    color: $text-white;
    padding-top: 9rem;
    margin-bottom: 10rem;
  }

  &__numbers {
    // margin: 10rem 0 5.2rem;
    width: 100%;
    color: $text-white;
    font-family: $fontsMont-500;
    font-size: 2.6rem;
    line-height: 3.4rem;
    @include flex-block-justify();
    hr {
      width: 92%;
    }
  }
  &__items {
    padding-top: 8.2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  &__block {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 12rem;
    width: 100%;
    max-width: 56rem;
    color: $text-white;

      &_foods {
        display: inline-block;
        width: 100%;
      }
      &_heading {
        width: 100%;
        max-width: 50.2rem;
        margin: 3rem 0 5rem;
        font-family: $fontsMont-500;
        font-weight: normal;
        font-size: 2.6rem;
        line-height: 3.4rem;
      }
      &_text {
        font-family: $fontsMont-400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-bottom: 9.2rem;
      }
  }
  &__btn {
    margin-top: -4.7rem;
    margin-left: 72rem;
    @include flex-block-center();
    width: 24rem;
    height: 7.4rem;
    background-color: $bg-orange;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-white;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
      img {
        margin-left: 1rem;
      }
      &:hover {
        background-color: $bg-dark-orange;
      }
  }
}

//======What our users think======//
.users_think {
  padding-top: 10rem;
  width: 100%;
  height: 177.6rem;
  background-color: $bg-dark-blue;
  background-image: url("../images/pandaGradient.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  &__container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
  }

  &__heading {
    width: 100%;
    max-width: 44rem;
    font-family: $fontsMont-600;
    font-size: 5.4rem;
    line-height: 6.6rem;
    text-transform: uppercase;
    color: $text-white;
  }

  &__text {
    margin-top: 3.9rem;
    width: 100%;
    max-width: 56rem;
    font-family: $fontsMont-600;
    font-size: 2.6rem;
    line-height: 3.4rem;
    color: $text-white;
    letter-spacing: -0.2px;
  }

  &__cards {
    position: absolute;
    top: 0;
    right: -26rem;
    display: flex;
    flex-wrap: wrap;
    width: 106rem;
    gap: 3rem;
  }

  &__card {
    position: relative;
    padding-top: 13.6rem;
    padding-left: 5rem;
    width: 51.5rem;
    height: 46.3rem;
    background-color: $bg-white;
    border-radius: 0.5rem;
    -webkit-box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.4);
    &::before {
      content: "“";
      position: absolute;
      top: 2rem;
      left: 5rem;
      font-family: $fontsMont-alternate;
      font-size: 12rem;
      line-height: 14.6rem;
      color: $text-green-lite;
    }
    &_heading {
      font-family: $fontsMont-500;
      font-size: 2.6rem;
      line-height: 3.4rem;
      margin-bottom: 2rem;
    }
    &_text {
      width: 41.5rem;
      font-family: $fontsMont-400;
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
    &_author {
      position: absolute;
      left: 5rem;
      bottom: 7rem;
      margin-top: 4.6rem;
      text-transform: uppercase;
      font-family: $fontsMont-600;
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
  }

  &__arrow {
    position: relative;
    right: 1rem;
    width: 18.4rem;
    margin: 0 auto;
    margin-top: 71rem;
    @include flex-block-center();
    justify-content: space-between;
  }

  &__left {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    border: 1px solid $bg-white;
    background-color: transparent;
    background-image: url("../icons/UnionLeftWhite.svg");
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: $bg-dark-blue;
      background-image: url("../icons/UnionLeftWhite.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__right {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    border: 1px solid $bg-white;
    background-color: $bg-white;
    background-color: transparent;
    background-image: url("../icons/UnionRightWhite.svg");
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: $bg-dark-blue;
      background-image: url("../icons/UnionRightWhite.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__leave {
    margin-top: 37.6rem;
    width: 100%;
  }
  &__leave_btn {
    @include flex-block-center();
    text-transform: uppercase;
    width: 36rem;
    height: 7.4rem;
    border-radius: 0.5rem;
    border: 1px solid $bg-white;
    background-color: transparent;
    background-image: url("../icons/UnionRightWhite.svg");
    background-repeat: no-repeat;
    background-position: 77% 50%;
    &:hover {
      background-color: $bg-green-lite;
      background-image: url("../icons/UnionRightInvert.svg");
      background-repeat: no-repeat;
      background-position: 77% 50%;
    }
  }
  &__leave_link {
    padding-right: 3.5rem;
    @include flex-block-center();
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-white;
    &:hover {
      color: $text-white;
    }
  }
}

//======Care fro the animals you love======//

.animals_love {
  width: 100%;
  max-width: 100%;

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
  }

  &__heading {
    margin: 0 auto;
    width: 100%;
    max-width: 65.5rem;
    font-family: $fontsMont-600;
    font-size: 5.4rem;
    line-height: 6.5rem;
    text-transform: uppercase;
    color: $text-green-lite;
    text-align: center;
    margin-top: 13.6rem;
    margin-bottom: 5rem;
  }

  &__text {
    margin: 0 auto;
    width: 100%;
    max-width: 53.7rem;
    font-family: $fontsMont-500;
    font-size: 2.6rem;
    line-height: 3.6rem;
    text-align: center;
    color: $text-default;
  }

  &__cards {
    width: 146rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7.5rem;
    margin-left: -2rem;
    margin-right: 10rem;
    &_big {
      width: 96rem;
      height: 69.8rem;
      padding: 2rem;
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 44rem;
    height: 65.8rem;
    background-color: $bg-dark-blue;
    border-radius: 0.5rem;
    &:hover {
      width: 48rem;
      height: 69.8rem;
      transition-duration: 2s;
      z-index: 50;
    }
    &_wrapper {
      @include flex-block-center();
      width: 48rem;
      height: 69.8rem;
    }

    &_img {
      width: 100%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    &_text {
      margin: 3rem auto 0;
      width: 89%;
      font-family: $fontsMont-400;
      font-size: 1.8rem;
      line-height: 2.7rem;
      text-align: center;
      color: $text-white;
    }
    &_link {
      text-decoration: none;
    }
  }

  &__btn {
    cursor: pointer;
    margin-left: -7rem;
    position: absolute;
    left: 50%;
    bottom: 5rem;
    @include flex-block-center();
    width: 14.2rem;
    height: 7.3rem;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $text-orange;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;
    background-image: url("../icons/UnionOrange.svg");
    background-repeat: no-repeat;
    background-position: 75% 50%;
    padding-right: 3.6rem;
    &:hover {
      color: $text-white;
      background-color: $bg-dark-orange;
      background-image: url("../icons/UnionRightInvert.svg");
      background-repeat: no-repeat;
      background-position: 75% 50%;
    }
  }

  &__choose {
    margin-top: 8rem;
    width: 100%;
    @include flex-block-center();
  }
  &__choose_btn {
    @include flex-block-center();
    text-transform: uppercase;
    width: 36rem;
    height: 7.4rem;
    border-radius: 0.5rem;
    border: 1px solid $bg-dark-blue;
    background-color: $bg-white;
    background-image: url("../icons/UnionRight.svg");
    background-repeat: no-repeat;
    background-position: 89% 50%;
    img {
      margin-left: 1rem;
    }
    &:hover {
      background-color: $bg-dark-blue;
      background-image: url("../icons/UnionRightInvert.svg");
      background-repeat: no-repeat;
      background-position: 89% 50%;
    }
  }
  &__choose_link {
    @include flex-block-center();
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-family: $fontsMont-600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-right: 3.5rem;
    color: $text-dark-blue;
    &:hover {
      color: $text-white;
    }
  }

  &__screen {
    margin: 15rem auto 14.8rem;
    img {
      width: 100%;
    }
  }
}

//====FOOTER====//
@import "footer";