/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* FONTS */
/* DEVICE-WIDTH */
.main_heading {
  display: inline;
  width: 1px;
  height: 1px;
  font-size: 0.1rem;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 11rem;
  background-color: #F58021;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 140rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 80rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 55rem;
}

.nav__item {
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.nav__link:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.nav__link:active {
  color: #00A092;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.nav__link_active {
  color: #00A092;
  cursor: default;
}

.nav__link_active:hover {
  -webkit-filter: none;
          filter: none;
  cursor: default;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18rem;
  list-style: none;
}

.social__item {
  display: block;
  width: 4rem;
  height: 4rem;
}

.social__item:hover {
  opacity: .6;
}

.icon_yt {
  background-image: url("../icons/YouTube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon_inst {
  background-image: url("../icons/Instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon_fb {
  background-image: url("../icons/Facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.touch {
  width: 100%;
}

.touch__countainer {
  margin: 0 auto;
  width: 100%;
  max-width: 140rem;
}

.touch__countainer img {
  width: 100%;
}

.form {
  width: 100%;
}

.form__countainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  max-width: 140rem;
  padding-top: 15rem;
  margin-bottom: 15rem;
}

.form__info {
  width: 100%;
  max-width: 54.5rem;
}

.form__info_heading {
  font-family: "Montserrat Semibold";
  font-size: 5.4rem;
  line-height: 6.6rem;
  color: #00A092;
  text-transform: uppercase;
}

.form__info_text {
  margin-top: 5rem;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.form__forms {
  width: 100%;
  max-width: 68rem;
}

.form__forms_body {
  margin: 0;
  padding: 0;
}

.form__forms_body label {
  display: block;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
  height: 3.5rem;
}

.form__forms_body label span {
  color: #00A092;
}

.form__forms_body input {
  border: 1px solid #000000;
}

.form__forms_body_input {
  display: block;
  padding-left: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 6rem;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 3.1rem;
  color: #969696;
}

.form__forms_body textarea {
  display: block;
  padding-top: 2rem;
  padding-left: 2rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  width: 100%;
  height: 20rem;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 3rem;
  color: #969696;
}

.form__forms_btns {
  margin-top: 7rem;
}

.form__forms_btns input {
  border: none;
}

.form__forms_btn {
  display: block;
  padding-right: 3.5rem;
  width: 100%;
  max-width: 35.9rem;
  height: 7.4rem;
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #FFFFFF;
  background-color: #00A092;
  border-radius: 0.5rem;
  text-transform: uppercase;
  background-image: url("../icons/UnionRightInvert.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 74% 50%;
}

.form__forms_btn:hover {
  background-color: #05786E;
}

.footer {
  width: 100%;
  height: 32.9rem;
  background-color: #20113D;
}

.footer__container {
  margin: 0 auto;
  width: 100%;
  max-width: 140rem;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7rem 0;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 41.4rem;
}

.footer__menu {
  width: 100%;
  max-width: 42.6rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.footer__link {
  text-decoration: none;
  color: #FFFFFF;
}

.footer__link:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.footer__link:active {
  color: #00A092;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.footer__leave_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  width: 35.9rem;
  height: 7.4rem;
  border-radius: 0.5rem;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  background-image: url("../icons/UnionRightWhite.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.footer__leave_btn:hover {
  background-color: #FFFFFF;
  background-image: url("../icons/UnionRight.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.footer__leave_link {
  padding-right: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #FFFFFF;
}

.footer__leave_link:hover {
  color: #20113D;
}

.footer__footer {
  padding: 3.7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 44.8rem;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #FFFFFF;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  list-style: none;
}
/*# sourceMappingURL=contactsUs.css.map */