/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* FONTS*/
/* DEVICE-WIDTH */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* FONTS*/
/* DEVICE-WIDTH */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.main_heading {
  display: inline;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 0.1rem;
  visibility: hidden;
}

.header {
  width: 100%;
  background-color: #f58021;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  padding-bottom: 2.8rem;
}

.logo__img {
  width: 100%;
  max-width: 9.6rem;
  height: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 80rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 55rem;
}

.menu__item {
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-transform: uppercase;
}

.menu__link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.menu__link:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.menu__link:active {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  color: #00A092;
}

.menu__link_active {
  color: #00A092;
}

.menu__link_active:hover {
  cursor: default;
  -webkit-filter: none;
          filter: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 18rem;
}

.social__item {
  width: 4rem;
  height: 4rem;
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;
}

.social__link:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.icon_yt {
  background-image: url("../icons/YouTube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon_inst {
  background-image: url("../icons/Instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon_fb {
  background-image: url("../icons/Facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.touch {
  width: 100%;
}

.touch__countainer {
  margin: 0 auto;
  width: 100%;
  max-width: 140rem;
}

.touch__countainer img {
  width: 100%;
}

.form {
  width: 100%;
}

.form__countainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  max-width: 140rem;
  padding-top: 15rem;
  margin-bottom: 15rem;
}

.form__info {
  width: 100%;
  max-width: 54.5rem;
}

.form__info_heading {
  font-family: "Montserrat Semibold";
  font-size: 5.4rem;
  line-height: 6.6rem;
  color: #00A092;
  text-transform: uppercase;
}

.form__info_text {
  margin-top: 5rem;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.form__forms {
  width: 100%;
  max-width: 68rem;
}

.form__forms_body {
  margin: 0;
  padding: 0;
}

.form__forms_body label {
  display: block;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
  height: 3.5rem;
}

.form__forms_body label span {
  color: #00A092;
}

.form__forms_body input {
  border: 1px solid #000000;
}

.form__forms_body_input {
  display: block;
  padding-left: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 6rem;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 3.1rem;
  color: #969696;
}

.form__forms_body textarea {
  display: block;
  padding-top: 2rem;
  padding-left: 2rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  width: 100%;
  height: 20rem;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 3rem;
  color: #969696;
}

.form__forms_btns {
  margin-top: 7rem;
}

.form__forms_btns input {
  border: none;
}

.form__forms_btn {
  display: block;
  padding-right: 3.5rem;
  width: 100%;
  max-width: 35.9rem;
  height: 7.4rem;
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #ffffff;
  background-color: #00A092;
  border-radius: 0.5rem;
  text-transform: uppercase;
  background-image: url("../icons/UnionRightInvert.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 74% 50%;
}

.form__forms_btn:hover {
  background-color: #05786e;
}

/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.footer {
  width: 100%;
  background-color: #20113d;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.7rem;
  padding-bottom: 3.7rem;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 41.4rem;
}

.menu_little {
  width: 100%;
  max-width: 42.6rem;
}

.menu__link_color {
  color: #ffffff;
}

.copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 44.8rem;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #ffffff;
}

.social_more {
  width: 100%;
  max-width: 20rem;
}

.btn-transparent {
  width: 35.9rem;
  height: 7.4rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.btn-transparent_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.btn-donate-vor-vol {
  border: 1px solid #ffffff;
  padding-right: 3.6rem;
}
/*# sourceMappingURL=contactsUs.css.map */