/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* FONTS*/
/* DEVICE-WIDTH */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* FONTS*/
/* DEVICE-WIDTH */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 140rem;
}

/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.color_white-blue:hover {
  background-color: #ffffff;
}

.color_white-blue_link {
  color: #ffffff;
}

.color_white-blue_link:hover {
  color: #20113d;
}

.arrow_white-blue {
  background-image: url("../icons/UnionRightWhite.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.arrow_white-blue:hover {
  background-image: url("../icons/UnionRight.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.main_heading {
  display: inline;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 0.1rem;
  visibility: hidden;
}

.header {
  width: 100%;
  background-color: #f58021;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  padding-bottom: 2.8rem;
}

.logo__img {
  width: 100%;
  max-width: 9.6rem;
  height: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 80rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 55.3rem;
}

.menu__item {
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-transform: uppercase;
}

.menu__link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.menu__link:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.menu__link:active {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  color: #00A092;
}

.menu__link_active {
  color: #00A092;
}

.menu__link_active:hover {
  cursor: default;
  -webkit-filter: none;
          filter: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 18rem;
}

.social__item {
  width: 4rem;
  height: 4rem;
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;
}

.social__link:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.icon_yt {
  background-image: url("../icons/YouTube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon_inst {
  background-image: url("../icons/Instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon_fb {
  background-image: url("../icons/Facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  width: 100%;
}

.map {
  margin: 0 auto;
  width: 100%;
  max-width: 140.6rem;
}

.map__header {
  margin: 4rem auto 7.2rem;
  text-align: center;
  width: 100%;
  max-width: 60rem;
  font-family: "Montserrat Semibold";
  font-size: 5.4rem;
  line-height: 6.5rem;
  color: #20113d;
  text-transform: uppercase;
}

.map-img {
  position: relative;
  left: -0.3rem;
  margin-bottom: 14.7rem;
}

#map {
  width: 100%;
  max-width: 140rem;
}

.full-map__pin_body {
  -webkit-filter: drop-shadow(0px 4px 20px #20113d) drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
          filter: drop-shadow(0px 4px 20px #20113d) drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
}

.pointer {
  cursor: pointer;
}

.full-map__pin:hover > .full-map__pin_body {
  fill: #fff;
  -webkit-filter: drop-shadow(0px 4px 20px #20113d) drop-shadow(0px 4px 30px rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0px 4px 20px #20113d) drop-shadow(0px 4px 30px rgba(255, 255, 255, 0.5));
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
}

.full-map__pin:hover > .full-map__pin_outline {
  stroke-width: 3px;
  stroke-opacity: 1;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.footer {
  width: 100%;
  background-color: #20113d;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.7rem;
  padding-bottom: 3.7rem;
}

nav {
  width: 100%;
  max-width: 42.6rem;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 41.4rem;
}

.menu_little {
  width: 100%;
  max-width: 42.6rem;
}

.menu__link_color {
  color: #ffffff;
}

.copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 44.8rem;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #ffffff;
}

.social_more {
  width: 100%;
  max-width: 20rem;
}

.btn-transparent {
  width: 35.9rem;
  height: 7.4rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.btn-transparent_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.btn-donate-vor-vol {
  border: 1px solid #ffffff;
  padding-right: 3.6rem;
}
/*# sourceMappingURL=map.css.map */