/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* FONTS*/
/* DEVICE-WIDTH */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* FONTS*/
/* DEVICE-WIDTH */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.color_white-blue:hover {
  background-color: #ffffff;
}

.color_white-blue_link {
  color: #ffffff;
}

.color_white-blue_link:hover {
  color: #20113d;
}

.arrow_white-blue {
  background-image: url("../icons/UnionRightWhite.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.arrow_white-blue:hover {
  background-image: url("../icons/UnionRight.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* FONTS*/
/* DEVICE-WIDTH */
/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* FONTS*/
/* DEVICE-WIDTH */
.container-header {
  margin: 0 auto;
  width: 100%;
  max-width: 140rem;
}

.main_heading {
  display: inline;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 0.1rem;
  visibility: hidden;
}

.header {
  width: 100%;
  background-color: #f58021;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  padding-bottom: 2.8rem;
}

.logo__img {
  width: 100%;
  max-width: 9.6rem;
  height: auto;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 80rem;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 55.3rem;
}

.menu-header__item {
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-transform: uppercase;
}

.menu-header__link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.menu-header__link:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.menu-header__link:active {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  color: #00A092;
}

.menu-header__link_active {
  color: #00A092;
}

.menu-header__link_active:hover {
  cursor: default;
  -webkit-filter: none;
          filter: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 18rem;
}

.social__item {
  width: 4rem;
  height: 4rem;
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;
}

.social__link:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.icon_yt {
  background-image: url("../icons/YouTube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon_inst {
  background-image: url("../icons/Instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon_fb {
  background-image: url("../icons/Facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1200px) {
  .container-header {
    margin: 0 auto;
    width: 100%;
    max-width: 120rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3rem;
    padding-bottom: 2.8rem;
  }
  .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 74.1rem;
  }
  .menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 48.1rem;
  }
}

@media screen and (max-width: 640px) {
  .main_heading {
    display: inline;
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 0.1rem;
    visibility: hidden;
  }
  .header {
    position: fixed;
    width: 100%;
    height: 11rem;
    top: 0;
    left: 0;
    right: 0;
    max-width: 64rem;
    z-index: 3000;
    background-color: #f58021;
  }
  .container-header {
    margin: 0 auto;
    margin-left: 2rem;
    padding: 0;
    width: 100%;
    max-width: 57.3rem;
    height: 11rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 57.3rem;
    height: 5rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo__img {
    width: 9.6rem;
    height: 5rem;
  }
  .nav-header {
    position: fixed;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 311px;
    height: 754px;
    background-color: #20113d;
    margin-right: 0;
    z-index: 300;
    -webkit-transform: translateX(311px);
            transform: translateX(311px);
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
  }
  .nav-header-show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 33.5rem;
    margin-top: 15rem;
  }
  .menu-header__item {
    font-family: "Montserrat Semibold";
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: uppercase;
  }
  .menu-header__link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
  }
  .menu-header__link:hover {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
  }
  .menu-header__link:active {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    color: #00A092;
  }
  .menu-header__link_active {
    color: #00A092;
  }
  .menu-header__link_active:hover {
    cursor: default;
    -webkit-filter: none;
            filter: none;
  }
  .burger-header {
    position: fixed;
    top: 4rem;
    right: 3rem;
    z-index: 3000;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .burger-header:hover {
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
  }
  .burger-header__lines,
  .burger-header__lines::after,
  .burger-header__lines::before {
    position: absolute;
    width: 3rem;
    height: 2.31px;
    background-color: #000000;
  }
  .burger-header__lines {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .burger-header__lines::before {
    content: '';
    top: -14px;
  }
  .burger-header__lines::after {
    content: '';
    top: 14px;
  }
  .burger-header-active .burger-header__lines {
    background-color: transparent;
  }
  .burger-header-active .burger-header__lines::before {
    top: 0;
    left: -70%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: white;
    width: 4rem;
  }
  .burger-header-active .burger-header__lines::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: white;
    width: 4rem;
    left: -70%;
  }
  .social.social_header {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .main_heading {
    display: inline;
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 0.1rem;
    visibility: hidden;
  }
  .header {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 11rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;
    background-color: #f58021;
  }
  .container-header {
    margin: 0 auto;
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 3.6rem;
    width: 100%;
    max-width: 32rem;
    height: 11rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 57.3rem;
    height: 5rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo__img {
    width: 9.6rem;
    height: 5rem;
  }
  .nav-header {
    position: fixed;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 233px;
    height: 754px;
    background-color: #20113d;
    margin-right: 0;
    z-index: 300;
    -webkit-transform: translateX(233px);
            transform: translateX(233px);
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
  }
  .nav-header-show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 29.5rem;
    margin-top: 13rem;
  }
  .menu-header__item {
    font-family: "Montserrat Semibold";
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: uppercase;
  }
  .menu-header__link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
  }
  .menu-header__link:hover {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
  }
  .menu-header__link:active {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    color: #00A092;
  }
  .menu-header__link_active {
    color: #00A092;
  }
  .menu-header__link_active:hover {
    cursor: default;
    -webkit-filter: none;
            filter: none;
  }
  .burger-header {
    position: fixed;
    top: 4rem;
    right: 3rem;
    z-index: 3000;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .burger-header:hover {
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
  }
  .burger-header__lines,
  .burger-header__lines::after,
  .burger-header__lines::before {
    position: absolute;
    width: 3rem;
    height: 2.31px;
    background-color: #000000;
  }
  .burger-header__lines {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .burger-header__lines::before {
    content: '';
    top: -14px;
  }
  .burger-header__lines::after {
    content: '';
    top: 14px;
  }
  .burger-header-active .burger-header__lines {
    background-color: transparent;
  }
  .burger-header-active .burger-header__lines::before {
    top: 0;
    left: -45%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: white;
    width: 4rem;
  }
  .burger-header-active .burger-header__lines::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: white;
    width: 4rem;
    left: -45%;
  }
  .social {
    display: none;
  }
}

.main {
  width: 100%;
}

.map {
  margin: 0 auto;
  width: 100%;
  max-width: 140.6rem;
}

.map__header {
  margin: 4rem auto 7.2rem;
  text-align: center;
  width: 100%;
  max-width: 60rem;
  font-family: "Montserrat Semibold";
  font-size: 5.4rem;
  line-height: 6.5rem;
  color: #20113d;
  text-transform: uppercase;
}

.map-img {
  position: relative;
  left: -0.3rem;
  margin-bottom: 14.7rem;
}

#map {
  width: 100%;
  max-width: 140rem;
}

@media screen and (max-width: 1200px) {
  .map {
    margin: 0 auto;
    width: 100%;
    max-width: 140.6rem;
  }
  .map__header {
    margin: 3.1rem auto 1.8rem;
    text-align: center;
    width: 100%;
    max-width: 60rem;
    font-family: "Montserrat Semibold";
    font-size: 5.4rem;
    line-height: 6.5rem;
    color: #20113d;
    text-transform: uppercase;
  }
  .map-img {
    position: relative;
    left: -0.3rem;
    margin-bottom: 9.6rem;
  }
  #map {
    width: 100%;
    max-width: 120rem;
  }
}

@media screen and (max-width: 640px) {
  .map {
    margin: 11rem auto 0;
    padding-top: 0.1rem;
    width: 100%;
    max-width: 64rem;
  }
  .map__header {
    margin: 3.1rem auto 6.6rem;
    text-align: center;
    width: 100%;
    max-width: 60rem;
    font-family: "Montserrat Semibold";
    font-size: 4.2rem;
    line-height: 5.12rem;
    color: #20113d;
    text-transform: uppercase;
  }
  .map-img {
    position: relative;
    left: 0rem;
    margin-bottom: 9.9rem;
  }
  #map {
    width: 100%;
    max-width: 120rem;
  }
}

.full-map__pin_body {
  -webkit-filter: drop-shadow(0px 4px 20px #20113d) drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
          filter: drop-shadow(0px 4px 20px #20113d) drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
}

.pointer {
  cursor: pointer;
}

.full-map__pin:hover > .full-map__pin_body {
  fill: #fff;
  -webkit-filter: drop-shadow(0px 4px 20px #20113d) drop-shadow(0px 4px 30px rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0px 4px 20px #20113d) drop-shadow(0px 4px 30px rgba(255, 255, 255, 0.5));
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
}

.full-map__pin:hover > .full-map__pin_outline {
  stroke-width: 3px;
  stroke-opacity: 1;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* FONTS*/
/* DEVICE-WIDTH */
.container-footer {
  margin: 0 auto;
  width: 100%;
  max-width: 140rem;
}

.footer {
  width: 100%;
  background-color: #20113d;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.7rem;
  padding-bottom: 3.7rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 42.6rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 55.3rem;
}

.menu__item {
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-transform: uppercase;
}

.menu__link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.menu__link:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.menu__link:active {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  color: #00A092;
}

.menu__link_active {
  color: #00A092;
}

.menu__link_active:hover {
  cursor: default;
  -webkit-filter: none;
          filter: none;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 41.4rem;
}

.menu_little {
  width: 100%;
  max-width: 42.6rem;
}

.menu__link_color {
  color: #ffffff;
}

.copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 44.8rem;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #ffffff;
}

.social_more {
  width: 100%;
  max-width: 20rem;
}

.btn-transparent {
  width: 35.9rem;
  height: 7.4rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.btn-transparent_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.btn-donate-vor-vol {
  border: 1px solid #ffffff;
  padding-right: 3.6rem;
}

@media screen and (max-width: 1200px) {
  .container-footer {
    margin: 0 auto;
    width: 100%;
    max-width: 120rem;
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 4rem;
    width: 100%;
    max-width: 34.4rem;
  }
  nav {
    width: 100%;
    max-width: 34.7rem;
  }
  .btn-transparent {
    margin-right: 3.9rem;
  }
  .copyrights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 4rem;
    width: 100%;
    max-width: 44.8rem;
    font-family: "Montserrat Regular";
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #ffffff;
  }
  .social_more {
    width: 100%;
    max-width: 20rem;
    margin-right: 3.9rem;
  }
}

@media screen and (max-width: 640px) {
  .container-footer {
    margin: 0 auto;
    width: 100%;
    max-width: 64rem;
  }
  .footer {
    width: 100%;
    height: 54.5rem;
    background-color: #20113d;
  }
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 44.5rem;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 4.9rem;
  }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 18.7rem;
    padding-top: 5rem;
    padding-bottom: 3.8rem;
  }
  nav {
    width: 100%;
    max-width: 44.5rem;
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    width: 100%;
    max-width: 44.5rem;
  }
  .menu {
    margin-top: 5.2rem;
    margin-bottom: 4.5rem;
    height: 2.3rem;
  }
  .menu_little {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    max-width: 44.5rem;
  }
  .menu__link_color {
    color: #ffffff;
  }
  .copyrights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 44.5rem;
    margin-left: 0rem;
    font-family: "Montserrat Regular";
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #ffffff;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 22rem;
    margin-right: 0;
  }
  .social__item {
    width: 4rem;
    height: 4rem;
  }
  .social__link {
    display: block;
    width: 100%;
    height: 100%;
  }
  .social__link:hover {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
  }
  .btn-transparent {
    width: 35.9rem;
    height: 7.4rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-family: "Montserrat Semibold";
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-right: 0.5rem;
  }
  .btn-transparent_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .btn-donate-vor-vol {
    border: 1px solid #ffffff;
    padding-right: 3.6rem;
  }
}

@media screen and (max-width: 320px) {
  .container-footer {
    margin: 0 auto;
    width: 100%;
    max-width: 32rem;
  }
  .container-footer hr {
    position: absolute;
    top: 48.8rem;
    left: 0;
    width: 32rem;
  }
  .footer {
    position: relative;
    width: 100%;
    height: 71rem;
    background-color: #20113d;
  }
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30rem;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 24.3rem;
    padding-top: 0rem;
    padding-bottom: 0;
  }
  nav {
    width: 100%;
    max-width: 44.5rem;
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 21rem;
    height: 21rem;
  }
  .menu {
    margin-top: 3rem;
    margin-bottom: 2.9rem;
    height: 2.3rem;
  }
  .menu_little {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    max-width: 44.5rem;
  }
  .menu__link_color {
    color: #ffffff;
    font-size: 1.6rem;
  }
  .copyrights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 12.5rem;
    height: 14.1rem;
    margin-left: 0rem;
    font-family: "Montserrat Regular";
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #ffffff;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 22rem;
    margin-right: 0;
  }
  .social__item {
    width: 4rem;
    height: 4rem;
  }
  .social__link {
    display: block;
    width: 100%;
    height: 100%;
  }
  .social__link:hover {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
  }
  .btn-transparent {
    width: 30rem;
    height: 4.5rem;
    border-radius: 0.5rem;
    text-transform: none;
    font-family: "Montserrat Semibold";
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-right: 0.5rem;
    padding-right: 0px;
    padding-top: 10px;
    padding-left: 34px;
  }
  .btn-transparent_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
  }
  .btn-transparent_link:first-letter {
    text-transform: uppercase;
  }
  .btn-donate-vor-vol {
    border: 1px solid #ffffff;
    padding-right: 2.8rem;
  }
}
/*# sourceMappingURL=map.css.map */