/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* FONTS*/
/* DEVICE-WIDTH */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* COLORS */
/* FONTS*/
/* DEVICE-WIDTH */
/* BASIC */
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.color_white-blue:hover {
  background-color: #ffffff;
}

.color_white-blue_link {
  color: #ffffff;
}

.color_white-blue_link:hover {
  color: #20113d;
}

.arrow_white-blue {
  background-image: url("../icons/UnionRightWhite.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.arrow_white-blue:hover {
  background-image: url("../icons/UnionRight.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

aside {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  margin: 0;
  padding: 0;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

@media screen and (max-width: 1833px) {
  .sticky {
    height: 1497px;
  }
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 21rem;
  height: 84.6rem;
  background-color: #20113d;
  z-index: 150;
}

.sidebar__container {
  position: relative;
  padding-top: 8rem;
  width: 100%;
  border-bottom: 1px solid #ffffff;
}

.sidebar__life {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 11.2rem;
  height: 3.8rem;
  border-bottom-right-radius: 0.5rem;
  color: #ffffff;
  font-family: "Montserrat Semibold";
  font-size: 1.8rem;
  line-height: 2.9rem;
  text-transform: uppercase;
  background-color: #f58021;
}

.sidebar__life img {
  margin-left: 1rem;
}

.sidebar__link_brackets {
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  color: #ffffff;
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 50;
  background-image: url("../icons/brackets.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar__list {
  width: 100%;
  height: 68.8rem;
}

.sidebar__list_carousel {
  width: 100%;
  height: 68.8rem;
  position: relative;
}

.sidebar__list_content {
  display: block;
  position: absolute;
  width: 100%;
  height: 68.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-transition: All ease 1s;
  transition: All ease 1s;
}

.sidebar__list_content_img {
  width: 100%;
  height: 68.8rem;
  display: block;
}

.sidebar__list .hidden {
  display: none;
}

.sidebar__item {
  width: 100%;
  height: 17.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ffffff;
}

.sidebar__item p {
  display: none;
  width: 16.9rem;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: normal;
  color: #ffffff;
}

.sidebar__item_bg {
  position: relative;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  background-color: #d26004;
}

.sidebar__item_link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.sidebar__item_body {
  width: 100%;
  height: 6.5rem;
}

.sidebar__item_icon {
  fill: #20113d;
}

.sidebar__item .panda {
  width: 8rem;
  height: 8rem;
}

.sidebar__item_active {
  background-color: #ffffff;
}

.sidebar__item_active::after {
  content: "";
  display: block;
  position: absolute;
  width: 11.5rem;
  height: 11.5rem;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.sidebar__arrow {
  cursor: pointer;
  display: block;
  width: 0.9rem;
  height: 1.5rem;
  position: absolute;
  bottom: -5.2rem;
  right: 11rem;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar.show {
  width: 30rem;
}

.sidebar__link_brackets.show {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.sidebar__life.show {
  width: 12rem;
}

.sidebar__arrow.show {
  right: 15rem;
}

.sidebar__item_bg.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25.6rem;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  margin-left: 0.8rem;
}

.sidebar__item_bg.show p {
  display: block;
}

.sidebar__item_bg.show .sidebar__item_body {
  width: auto;
  height: 5rem;
  margin-right: 2.5rem;
}

.sidebar__item_bg.show .sidebar__item_icon {
  fill: #f58021;
}

.sidebar__item_bg.show .sidebar__item_body.panda {
  width: auto;
  height: 5rem;
}

.sidebar__item_bg.show .sidebar__item_body.lemur {
  margin-right: 3.8rem;
}

.sidebar__item_bg.show_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.8rem;
  width: 25.6rem;
  height: auto;
  border-radius: 0;
  background-color: transparent;
}

.sidebar__item_bg.show_active::after {
  display: none;
}

.sidebar__item_bg.show_active p {
  display: block;
}

.sidebar__item_bg.show_active .sidebar__item_body {
  width: auto;
  height: 5rem;
  margin-right: 2.5rem;
}

.sidebar__item_bg.show_active .sidebar__item_icon {
  fill: #ffffff;
}

.sidebar__item_bg.show_active .sidebar__item_body.panda {
  width: auto;
  height: 5rem;
}

.sidebar__item_bg.show_active .sidebar__item_body.lemur {
  margin-right: 3.8rem;
}

.sidebar__item_link.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=modal.css.map */